@import "../scss/common/template";

:focus-within {
  outline: none;
}

// Section: Global*
#lotusFrame {
  .lotusWrapper {
    background: $background;
  }

  .activityStreamPage {
    background: $background;
  }

}

.lotusLoading {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg version=%221.1%22 xmlns=%22http://www.w3.org/2000/svg%22 x=%220px%22 y=%220px%22 viewBox=%220 0 41.2 41.2%22%3E%3Cpath fill=%22%2375263b%22 d=%22M38.7,10.7l-3.3,1.8c1.4,2.5,2.1,5.2,2.1,8.1c0,9.3-7.6,16.9-16.9,16.9c-9.3,0-16.8-7.6-16.8-16.9 c0-9.3,7.5-16.8,16.8-16.8V0C9.3,0,0,9.3,0,20.6C0,32,9.3,41.3,20.6,41.3c11.4,0,20.7-9.3,20.7-20.7C41.3,17.1,40.4,13.7,38.7,10.7z%22/%3E%3C/svg%3E") !important;
  animation-name: rotate;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 16px !important;
  height: 16px !important;
  position: absolute !important;
  left: calc(50% - 8px) !important;
}

.lotusui30_body {
  background: $background !important;

  .lotusMain {
    background: $background !important;
  }
}

// Section: Global > Navigation bar
.ics-scbanner {
  color: $bordeaux !important;
  background-color: white !important;
  transition: none;
}

body .hikari.ics-scbanner, body .gen4.ics-scbanner, body .colour.ics-scbanner {
  > a {
    @extend %sq-text-color;
  }

  > a:visited {
    @extend %sq-text-color;
  }

  > a:hover {
    @extend %sq-text-color;
  }

  > a:active {
    @extend %sq-text-color;
  }

  > a:focus {
    @extend %sq-text-color;
  }
}

#ics-scbanner-home {
  @extend %sq-text-color;
}

#communitiesMenu_container {
  @extend %sq-text-color;
}

#nav_bar_include .files {
  @extend %sq-text-color;
}

#nav_bar_include .activities {
  @extend %sq-text-color;
}

.icBanner-badge {
  background: none repeat scroll 0 0 $orange !important;
}

.ics-scbanner {
  > a:hover::after {
    @extend %sq-option-selected;
  }

  > button:hover::after {
    @extend %sq-option-selected;
  }

  > .navmenu:hover::after {
    @extend %sq-option-selected;
  }

  > .selected::after {
    @extend %sq-option-selected;
  }

  .navsimplelist {
    > li {
      a:focus {
        @extend %sq-option-focus;
      }

      a:hover::before, a:hover::after {
        background-color: #e5e5e5 !important;
        content: "";
        height: 0.0625rem;
        left: 50%;
        position: absolute;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 85%;
      }
    }
  }

  .navmenu.rd {
    .navsimplelist {
      > li {
        a.selected {
          border-left: 4px solid $bordeaux !important;
        }
      }
    }
  }

  .submenu:focus {
    @extend %sq-option-focus;
  }
}

.icBanner-notif-center {
  .icBanner-popover-notificationReadAll {
    @extend %sq-text-color;
  }

  .icBanner-popover-notificationReadAll:hover {
    @extend %sq-text-color;
  }
}

.icNote-message .bluedot {
  background-color: $orange !important;
  border: 1px solid $orange !important;
}

.icNote-time {
  color: dimgray !important;
}

// Section: homepage > search menu
.icSearchBar {
  a.icSearchIcon {
    width: 16px !important;
    height: 16px !important;
    margin-top: 31px !important;
    margin-left: 9px !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 version=%221.1%22 x=%220px%22 y=%220px%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%2375263b%22 d=%22M24.7,23.3l-9.4-9.4c0,0,0,0-0.1,0c1.2-1.5,1.9-3.3,1.9-5.3c0-4.7-3.8-8.6-8.6-8.6S0,3.8,0,8.6s3.8,8.6,8.6,8.6c2,0,3.9-0.7,5.3-1.9c0,0,0,0,0,0.1l9.4,9.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C25.1,24.3,25.1,23.7,24.7,23.3zM8.6,15.4c-3.8,0-6.9-3.1-6.9-6.9c0-3.8,3.1-6.9,6.9-6.9c3.8,0,6.9,3.1,6.9,6.9C15.4,12.4,12.4,15.4,8.6,15.4z%22/%3E%3C/svg%3E") !important;
    background-size: 18px 18px !important;

    svg {
      display: none !important;
    }

    .dijitTextBox {
      line-height: 1.5 !important;
      min-width: 10rem !important;
      padding: 0 !important;
      background: none !important;
      border: none !important;
      border-bottom: 1px solid #d8d8d8 !important;
      font-size: 12.8px !important;
      padding-right: 2rem !important;
      padding-bottom: .375rem !important;
      box-sizing: border-box !important;
      height: auto !important;
    }

    .dijitTextBox:focus, .dijitTextBox .dijitTextBoxFocused {
      outline: none !important;
      border-color: $bordeaux !important;
      box-shadow: 0 1px 0 $bordeaux !important;
    }

    .dijitTextBoxFocused {
      box-shadow: 0 1px 0 $bordeaux !important;
      outline: none !important;
      border-bottom: 1px solid $bordeaux !important;
    }

  }
}

.icSearchPaneButton {
  border-radius: 50% !important;
  background-color: $bordeaux !important;
  border: 1px solid $bordeaux !important;
  outline: none !important;
  right: 23px !important;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2) !important;

  a {
    width: 16px !important;
    height: 16px !important;
    margin-top: -9px !important;
    margin-left: 8px !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 version=%221.1%22 x=%220px%22 y=%220px%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M24.7,23.3l-9.4-9.4c0,0,0,0-0.1,0c1.2-1.5,1.9-3.3,1.9-5.3c0-4.7-3.8-8.6-8.6-8.6S0,3.8,0,8.6s3.8,8.6,8.6,8.6c2,0,3.9-0.7,5.3-1.9c0,0,0,0,0,0.1l9.4,9.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C25.1,24.3,25.1,23.7,24.7,23.3zM8.6,15.4c-3.8,0-6.9-3.1-6.9-6.9c0-3.8,3.1-6.9,6.9-6.9c3.8,0,6.9,3.1,6.9,6.9C15.4,12.4,12.4,15.4,8.6,15.4z%22/%3E%3C/svg%3E");
    background-size: 18px 18px !important;

    svg {
      display: none !important;
    }
  }

  &:hover, &.icSearchFocused {
    border-color: $bordeaux !important;
    background-color: #FFFFFF !important;
    cursor: pointer !important;

    a {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 version=%221.1%22 x=%220px%22 y=%220px%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%2375263b%22 d=%22M24.7,23.3l-9.4-9.4c0,0,0,0-0.1,0c1.2-1.5,1.9-3.3,1.9-5.3c0-4.7-3.8-8.6-8.6-8.6S0,3.8,0,8.6s3.8,8.6,8.6,8.6c2,0,3.9-0.7,5.3-1.9c0,0,0,0,0,0.1l9.4,9.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C25.1,24.3,25.1,23.7,24.7,23.3zM8.6,15.4c-3.8,0-6.9-3.1-6.9-6.9c0-3.8,3.1-6.9,6.9-6.9c3.8,0,6.9,3.1,6.9,6.9C15.4,12.4,12.4,15.4,8.6,15.4z%22/%3E%3C/svg%3E");
    }
  }
  &#bhc_com_searchForm {
    top: 56px !important;
  }

  &.icSearchBarMode {
    background-color: transparent !important;
    box-shadow: none !important;

    .icSearchIcon {
      top: -20px !important;
    }

    .icSearchBar {
      padding-top: 0 !important;
    }
  }
}

.search-history-view-ui {
  .icSearchPane {
    .pfEntry {
      &:hover, &.spSelected {
        border-color: $bordeaux !important;

        .lconn_gray {
          color: #595859 !important;
        }
      }
    }
  }
}

.search-global-search-restyle {
  .lotusui30 {
    .icSearchResultsPage {
      .lconnSearchHeader {
        .lotusSearch {
          border-bottom-color: $bordeaux;

          .icSearchInputBox input {
            color: $bordeaux;
          }

        }
      }

      div {
        &.lconnSearchResults {
          .lotusTable {
            tr {
              &:hover, &.icSearchResultSelected {
                border-color: $bordeaux;
              }
            }
          }
        }
      }
    }
  }
}

.search-global-search-restyle .lotusui30 .icSearchResultsPage .lconnSearchHeader .lotusSearch .icSearchInputBox input, .search-global-search-restyle .lotusui30 .icSearchResultsPage .lconnSearchResults .icPagination .icSelected, .search-global-search-restyle .lotusui30 .icSearchResultsPage .lconnSearchResults .lotusTable tr:hover .lconnSearchBookmarkUrl, .search-global-search-restyle .lotusui30 .icSearchResultsPage .lotusTable tr:hover .lotusMeta .icGreyText, .search-global-search-restyle .lotusui30 .icSearchResultsPage .lotusTable tr:hover:not(.icLastPageMessage) .lotusMeta, .search-global-search-restyle .lotusui30 .icSearchResultsPage div.lconnSearchResults .lconnSearchBookmarkUrl, .search-global-search-restyle .lotusui30 .icSearchResultsPage div.lconnSearchResults .lotusTable tr:hover .icSearchDetails a, .search-global-search-restyle .lotusui30 .icSearchResultsPage div.lconnSearchResults .lotusTable tr:hover .icSearchTitle a, .search-global-search-restyle .lotusui30 .icSearchResultsPage div.lconnSearchResults .lotusTable tr:hover .lconnStatusUpdateTitle .icStatusUpdate, .search-global-search-restyle .lotusui30 .icSearchResultsPage div.lconnSearchResults .lotusTable tr:hover .lconnStatusUpdateTitle .lotusPerson {
  color: #75263b;
}

.search-global-search-restyle .icSearchResultsPage div.lconnSearchResults .lotusTable tr:hover .icSearchTitle a, .search-global-search-restyle .icSearchResultsPage div.lconnSearchResults .lotusTable tr.icSearchResultSelected .icSearchTitle a, .search-global-search-restyle .lotusui30 .icSearchResultsPage .lotusTable tr:hover:not(.icLastPageMessage) .lotusMeta, .search-global-search-restyle .lotusui30 .icSearchResultsPage .lotusTable tr.icSearchResultSelected .lotusMeta, .search-global-search-restyle .lotusui30 .icSearchResultsPage .lotusTable tr:hover .lotusMeta .icGreyText, .search-global-search-restyle .lotusui30 .icSearchResultsPage .lotusTable tr.icSearchResultSelected .lotusMeta .icGreyText, .search-global-search-restyle .icSearchResultsPage div.lconnSearchResults .lotusTable tr:hover .icSearchDetails a, .search-global-search-restyle .icSearchResultsPage div.lconnSearchResults .lotusTable tr.icSearchResultSelected .icSearchDetails a, .search-global-search-restyle .lotusui30 .icSearchResultsPage .lconnSearchResults .lotusTable tr:hover .lconnSearchBookmarkUrl, .search-global-search-restyle .lotusui30 .icSearchResultsPage .lconnSearchResults .lotusTable tr.icSearchResultSelected .lconnSearchBookmarkUrl, .search-global-search-restyle .lotusui30 .icSearchResultsPage div.lconnSearchResults .lotusTable tr:hover .lconnStatusUpdateTitle .lotusPerson, .search-global-search-restyle .lotusui30 .icSearchResultsPage div.lconnSearchResults .lotusTable tr.icSearchResultSelected .lconnStatusUpdateTitle .lotusPerson, .search-global-search-restyle .lotusui30 .icSearchResultsPage div.lconnSearchResults .lotusTable tr:hover .lconnStatusUpdateTitle .icStatusUpdate, .search-global-search-restyle .lotusui30 .icSearchResultsPage div.lconnSearchResults .lotusTable tr.icSearchResultSelected .lconnStatusUpdateTitle .icStatusUpdate, .search-global-search-restyle .lotusui30 .icSearchResultsPage div.lconnSearchResults .lconnSearchBookmarkUrl {
  color: #75263b;
}

.scloud3 {
  .lotusMenu {
    li {
      a {
        &:hover {
          background-color: #f4f5f6;
        }
      }
    }
  }
}

.lotusui30 {
  a, a:visited, a:focus, a:visited {
    @extend %sq-text-color;
  }

  a:hover {
    color: $orange !important;
  }

  a:active {
    color: $pink !important;
  }

  a.icBanner-footer-link, a.icBanner-footer-link:active, a.icBanner-footer-link:visited {
    @extend %sq-text-color;
    cursor: pointer;
  }

  a.icBanner-footer-link:hover {
    color: $orange !important;
  }

  .dijitMenuPopup {
    .dijitMenuTable {
      .dijitMenuItemFocused {
        td.dijitMenuItemLabel {
          @extend %sq-option-focus;
        }
      }
    }
  }

  .streamMore:hover, .streamMore:focus, .streamMore:active {
    @extend %sq-text-color;
    background: #e8e8e8 !important;
  }

  .ics-scbanner.isfixed {
    .joinmeeting {
      @extend %sq-disable-feature;
    }

    .org._myorg {
      @extend %sq-disable-feature;
    }
  }

  .lotusContent {
    .lotusStream {
      #activityStreamMain.lotusWidgetBody {
        .lotusPagingTop.lotusPaging {
          ul.lotusInlinelist {
            li {
              a.filterSelected {
                color: white !important;
              }

              a {
                color: white !important;
              }
            }
          }
        }
      }
    }
  }

  .lotusStream {
    .lotusWidgetBody#activityStreamMain {
      .icStream-search {
        border: 0;
        background: white;
      }

      .lotusInlinelist.lotusActions {
        .vcard {
          a {
            @extend %sq-text-color;
          }

          a:hover {
            color: $orange !important;
          }

          a:focus {
            color: $orange !important;
          }

          a:active {
            color: $orange !important;
          }
        }

        .lotusLike {
          a:hover {
            color: $orange !important;
          }

          a:focus {
            color: $orange !important;
          }

          a:active {
            color: $orange !important;
          }
        }
      }

      .lotusCommentList {
        .lotusInlinelist {
          .lotusLike {
            a {
              @extend %sq-text-color;
            }
          }
        }
      }

      .lotusPostHover {
        .lotusInlinelist {
          a:hover {
            color: $orange !important;
          }
        }
      }

      .lotusPagingTop.lotusPaging {
        margin-top: 0 !important;

        ul.lotusInlinelist {
          li {
            a {
              color: white;
            }
          }
        }
      }
    }

    .filterAreaInner {
      border-style: none;
    }

    #activityStreamMain.lotusWidgetBody {
      .streamHeaderWrapper {
        .lotusPaging {
          @extend %sq-background;
          border: 0;
          border-radius: 0;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
        }
      }

      .stream-finLeft, .stream-finRight {
        @extend %sq-background;
      }

      .streamHeaderWrapper.isSticky {
        .streamHeaderInner {
          @extend %sq-background;
        }
      }

      .lotusPost {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }

      .lotusPagingTop.lotusPaging ul.lotusInlinelist li a.filterSelected {
        color: white;
      }

    }

  }

  .lotusBoard {
    .lotusStream {
      margin-top: -5px;

      .lotusPostHover {

        background-color: #f4f5f6 !important;

        .lotusInlinelist {
          a {
            @extend %sq-text-color;
          }

          a:hover {
            color: $orange !important;
          }

        }
      }

      .lotusPostSelected {
        background-color: #f4f5f6 !important;
      }

      #activityStreamMain.lotusWidgetBody {
        .lotusPost {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }

    .lotusStreamUpdate {
      .lotusActions {
        padding-left: 5px;
        padding-right: 5px;
      }

      .lconnRTE {
        .cke.cke_focus {
          box-shadow: none !important;
          margin-left: 0;
          margin-right: 0;
          border: 1px solid #ccc !important;
        }
        .cke_inner {
          background-color: transparent;
          box-shadow: 0 4px 4px #f7f9fc, inset;
        }
        .cke_contents {
          background: #f7f9fc;
          transition: all 0.2s ease 0s;
        }

      }
    }
  }

  .streamHeaderWrapper.isSticky.isExpanded .lotusStreamUpdate .lotusActions .lotusInlinelist a {
    color: white !important;
  }

  .lotusStream #activityStreamMain.lotusWidgetBody .streamHeaderWrapper.isSticky.isExpanded .lotusBoard .lotusStreamUpdate {
    border-bottom: none !important;
  }


  .lotusPaging {
    .lotusInlinelist {
      li {
        border-left: none !important;
      }
    }
  }

  .tabNavBar {
    box-shadow: none;

    .lotusTabs {
      li.lotusSelected {
        color: black;
        padding-bottom: 15px;
        border-bottom: 4px solid $orange !important;
      }
    }
  }

  .lotusPagingBottom {
    a {
      margin-right: 0;
      margin-left: 0;
      border-right-width: 0;
      border-left-width: 0;
      border-bottom-width: 0;
    }
  }

  .streamMore {
    border-radius: 0;
  }
  .lotusHeader .shareSome-desc {
    background: white;
    padding: 8px;
    margin-bottom: 0px;
    padding-bottom: 16px;
  }

  .lotusMain {
    span.lotusBtn {

      background: transparent !important;
      border: 0 !important;

      a {
        border-radius: 2rem !important;
        -moz-border-radius: 2rem !important;
        -webkit-border-radius: 2rem !important;
        border: 1px solid transparent !important;
        box-shadow: none !important;
        transform: translateZ(0) !important;
        font-smooth: antialiased !important;
        -moz-osx-font-smoothing: antialiased !important;
        -webkit-font-smoothing: antialiased !important;
        cursor: pointer !important;
        -webkit-box-align: center !important;
        -webkit-box-pack: center !important;
        text-align: center !important;
        text-decoration: none !important;
        white-space: nowrap !important;
        padding: 9px 20px !important;
        font-weight: 800 !important;
        background-color: #74273b !important;
        color: #FFFFFF !important;
      }

      a:hover {
        background-color: #ffffff !important;
        color: $bordeaux !important;
        border: 1px solid $bordeaux !important;
      }
    }
  }

  .lotusPlaceBar {
    .lotusInlinelist {
      li {
        a {
          color: $bordeaux;
        }

        a:visited {
          color: $bordeaux;
        }
      }
    }
  }

  .lotusFlyout {
    .lotusFlyoutHeader {
      table {
        tbody {
          .flyoutTitle {
            .flyoutTitleOuter {
              .flyoutTitleInner {

                color: black !important;

                span {
                  @extend %sq-text-color;

                  input[dojoattachpoint="metaCloseInput"] {
                    color: black;
                  }

                  a, a:active {
                    @extend %sq-text-color;
                    font-weight: bold;
                    text-decoration: none;
                  }

                  a:hover, a:focus {
                    color: $orange !important;
                    font-weight: bold;
                  }

                }
              }
            }
          }
        }
      }

      .flyoutTitleContainer {
        td.flyoutTime {
          color: dimgray !important;
          border-left: 0;
        }
      }

      .vcard {
        > a {
        }
      }

      background-color: #f2f2f2 !important;
    }

  }

  .lotusMenu {
    li.lotusSelected, li.lotusSelected:active {
      border-top: none;
      border-bottom: none;
      color: black;
      border-left: 4px solid $bordeaux !important;
    }

    li.lotusSelected a {
      text-decoration:none !important;
    }

    li.lotusSelected:hover {
      border-left: 4px solid $bordeaux !important;
    }

    .lotusUnreadBadge {
      background-color: $orange !important;
      color: white !important;
    }

    li {
      a {
        color: black !important;
      }
    }

  }

  .lotusColLeft {
    .lotusMenu {
      li {
        a:focus {
          @extend %sq-option-focus;
        }
      }
    }
  }

  .lotusFeeds {
    a.lotusFeed {
      @extend %sq-text-color;
    }
  }

  .lotusFooter {
    a:active {
      color: $orange;
    }
    a:hover {
      color: $orange;
    }
    a:focus {
      color: $orange;
    }

  }

  // Section: Communities
  .lotusTitleBar, .lotusTitleBar2 {
    background: $background;
  }

}

.cke_editable.cke_editable_themed.lconnShareboxCke {
  padding: 6px 0px 3px 6px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  background: #f6f9fc !important;
}

.stproxy_navbarMenuNonVerse {
  ul.navsimplelist {
    .stproxy_navbarMenuNonVerse_buttonContainer {
      button {
        @extend %sq-background;
        border: 1px solid $bordeaux !important;
        box-shadow: 0 0 0 3px $bordeaux !important;
      }
    }
  }
}

.lotusui30_body.cke_editable {
  background: #f6f9fc !important;
}

// Section: homepage > widgets
.lotusSection2.homepage-widget {
  :first-child {
    @extend %sq-disable-feature;
  }
}

// Section: Activities
#activitiesMain {
  background: $background;
}

.lconnPicker {
  .tabbedSwitch {
    .pickerSourceChecked {
      .lconnPickerSourceLabel {
        border-bottom: 3px solid $bordeaux;
      }
    }
    .lconnPickerSourceLabel {
      color: $bordeaux;

      &:focus, &:hover {
        border-top: 1px solid $bordeaux;
        border-left: 1px solid $bordeaux;
        border-right: 1px solid $bordeaux;
      }
    }

    .switchContainer {
      border-bottom: 1px solid $bordeaux;
    }
  }
}

//Section: Docs
#doc_header_outer {
  background: none repeat scroll 0 0 $bordeaux !important;
}

.onpremise {
  &.lotusui30 {
    .lotusTitleBar2 {
      .lotusBtn {
        &.dijitButtonNode {
          background: $orange none !important;
          border: 0 none;
          border-radius: 0 0 0 0;
          box-shadow: none !important;
          color: #FFFFFF;
          margin: 0;
          outline: medium none;
          padding: 9px 23px;
          text-shadow: none !important;

          &:focus, &:hover {
            outline: 1px solid $bordeaux;
          }
        }
      }
    }
  }

  .dijitMenuPopup {
    .dijitMenuActive {
      .dijitMenuItemSelected, .dijitMenuItemHover .dijitMenuItemSelected {
        @extend %sq-background;
        color: black !important;
        border: 0 solid white !important;
      }
    }
  }
}

.personMenu {
  .topActionHolder {
    .topAction {
      border-right: 1px solid #999;
      display: block;

      a {
        display: block;
        float: left;
        font-size: 1em;
        margin-top: 0.2em;
        color: white;
      }
    }
  }
}

.oneui30 {
  .dijitMenu, .lotusActionMenu {
    &:not(.toolbarMenu) {
      &:not(.dijitMenuTable) {
        .dijitMenuItemHover, .dijitMenuItemSelected {
          &:not(.dijitMenuItemDisabled) {
            @extend %sq-background;
            color: white !important;
          }
        }
      }
    }
  }

}

//External
img[dojoattachpoint~="filterSharkFinImg"] {
  background-image: url("https://github.com/google/material-design-icons/raw/master/sprites/css-sprite/sprite-navigation-white.png");

}

.streamHeaderWrapper .otherActivityStream14-asKnockedfin14 {
  width: 13px !important;
  height: 8px !important;
  background-position: -74px -42px !important;
  background-color: $bordeaux;
}


select {
  font-size: 12.8px !important;
  -webkit-appearance: none !important;
  display: block !important;
  width: auto !important;
  min-width: 50% !important;
  max-width: 100% !important;
  padding: 0 2.75rem 0.75rem 0 !important;
  color: #000000 !important;
  border: none !important;
  border-bottom: 1px solid #d8d8d8 !important;
  border-radius: 0 !important;
  cursor: pointer !important;
  background-size: 0.75rem !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 version=%221.1%22 x=%220px%22 y=%220px%22 viewBox=%220 0 12 7.5%22%3E%3Cpath fill=%22%2375263b%22 d=%22M10.6,0L6,4.7L1.4,0L0,1.4l6,6.1l6-6.1L10.6,0z%22/%3E%3C/svg%3E") !important;
  background-size: 0.75rem !important;
  background-position: right .4rem !important;
  background-repeat: no-repeat !important;
  height: auto !important;
}

select:focus {
  border-bottom: 2px solid #75263b !important;
  outline: none !important;
}

select[disabled] {
  cursor: not-allowed !important;
  color: #969696 !important;
}


//TODO: Refactor this

/* left side navigation */
.lotusMenu li a.lotusSelected, .lotusMenu li.lotusSelected a, .lotusMenu li.lotusSelected a:visited, .lotusMenu li.lotusSelected a:active, .lotusMenu h3.lotusSelected, .scloud3 .lotusMenu li.lotusSelected a, .scloud3 .lotusMenu li.lotusSelected a:hover, .scloud3 .lotusMenu li.lotusSelected a:focus, .scloud3 .lotusMenu li.lotusSelected a:active, .scloud3 .lotusMenu .lotusHeaderSelected, .lotusliveui .lotusMenu .lotusTree .dijitTreeRow.lotusSelected, .scloud3 .lotusMenu .lotusTree .dijitTreeRow.lotusSelected, .content_wrap .side_bar .current {
  text-decoration: underline;
}

.lotusui30 .lotusBoard .lotusStream .lotusPostHover, .lotusui30 .lotusBoard .lotusStream .lotusPostSelected {
  background-color: #f4f5f6;
}

ul[dojoattachpoint~="filterHolderNode"] li > a {
  color: blue !important;
}

div[dojoattachpoint~=“commentInputTextBox”] {
  border: 1px solid #dddddd;
}

div[dojoattachpoint~=“commentInputTextBox”] .lotusui30 .lotusBoard .lotusStreamUpdate .lconnRTE .cke.cke_focus {
  border-radius: 0;
  margin-left: 0px;
  margin-right: 0px;
}


.ics-viewer .ics-viewer-banner .ics-viewer-toolbar .ics-viewer-action-splitmenu .dijitButtonNode, .ics-viewer .ics-viewer-banner .ics-viewer-toolbar .ics-viewer-action-roundtripedit a, .ics-viewer .ics-viewer-banner .ics-viewer-toolbar .ics-viewer-action-upload a, .ics-viewer .ics-viewer-banner .ics-viewer-toolbar .ics-viewer-action-login a, .ics-viewer .ics-viewer-banner .ics-viewer-toolbar .ics-viewer-action-edit a, .ics-viewer .ics-viewer-banner .ics-viewer-toolbar .ics-viewer-action-templateCreate a {
  background-color: $bordeaux;
}

