body .hikari.ics-scbanner > a, body .gen4.ics-scbanner > a, body .colour.ics-scbanner > a, body .hikari.ics-scbanner > a:visited, body .gen4.ics-scbanner > a:visited, body .colour.ics-scbanner > a:visited, body .hikari.ics-scbanner > a:hover, body .gen4.ics-scbanner > a:hover, body .colour.ics-scbanner > a:hover, body .hikari.ics-scbanner > a:active, body .gen4.ics-scbanner > a:active, body .colour.ics-scbanner > a:active, body .hikari.ics-scbanner > a:focus, body .gen4.ics-scbanner > a:focus, body .colour.ics-scbanner > a:focus, #ics-scbanner-home, #communitiesMenu_container, #nav_bar_include .files, #nav_bar_include .activities, .icBanner-notif-center .icBanner-popover-notificationReadAll, .icBanner-notif-center .icBanner-popover-notificationReadAll:hover, .lotusui30 a, .lotusui30 a:visited, .lotusui30 a.icBanner-footer-link, .lotusui30 a.icBanner-footer-link:active, .lotusui30 a.icBanner-footer-link:visited, .lotusui30 .lotusBoard .lotusStream .lotusPostHover .lotusInlinelist a, .lotusui30 .lotusFlyout .lotusFlyoutHeader table tbody .flyoutTitle .flyoutTitleOuter .flyoutTitleInner span, .lotusui30 .lotusFlyout .lotusFlyoutHeader table tbody .flyoutTitle .flyoutTitleOuter .flyoutTitleInner span a, .lotusui30 .lotusFlyout .lotusFlyoutHeader table tbody .flyoutTitle .flyoutTitleOuter .flyoutTitleInner span a:active, .lotusui30 .lotusFeeds a.lotusFeed {
  color: #75263b !important; }

.lotusui30 .lotusStream #activityStreamMain.lotusWidgetBody .streamHeaderWrapper .lotusPaging, .lotusui30 .lotusStream #activityStreamMain.lotusWidgetBody .stream-finLeft, .lotusui30 .lotusStream #activityStreamMain.lotusWidgetBody .stream-finRight, .lotusui30 .lotusStream #activityStreamMain.lotusWidgetBody .streamHeaderWrapper.isSticky .streamHeaderInner, .stproxy_navbarMenuNonVerse ul.navsimplelist .stproxy_navbarMenuNonVerse_buttonContainer button {
  background: #75263b !important; }

.lotusui30 .ics-scbanner.isfixed .joinmeeting, .lotusui30 .ics-scbanner.isfixed .org._myorg, .lotusSection2.homepage-widget :first-child {
  display: none; }

.ics-scbanner > a:hover::after, .ics-scbanner > button:hover::after, .ics-scbanner > .navmenu:hover::after, .ics-scbanner > .selected::after {
  border-bottom: 0.125rem solid #FF7000 !important; }

.ics-scbanner .navsimplelist > li a:focus, .ics-scbanner .submenu:focus, .lotusui30 .lotusColLeft .lotusMenu li a:focus {
  border-bottom: 0.0625rem solid #75263b !important;
  border-top: 0.0625rem solid #75263b !important; }

:focus-within {
  outline: none; }

#lotusFrame .lotusWrapper {
  background: #f1f1f1; }
#lotusFrame .activityStreamPage {
  background: #f1f1f1; }

.lotusui30_body {
  background: #f1f1f1 !important; }
  .lotusui30_body .lotusMain {
    background: #f1f1f1 !important; }

.ics-scbanner {
  color: #75263b !important;
  background-color: white !important;
  transition: none; }

.icBanner-badge {
  background: none repeat scroll 0 0 #FF7000 !important; }

.ics-scbanner .navsimplelist > li a:hover::before, .ics-scbanner .navsimplelist > li a:hover::after {
  background-color: #e5e5e5 !important;
  content: "";
  height: 0.0625rem;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 85%; }
.ics-scbanner .navmenu.rd .navsimplelist > li a.selected {
  border-left: 4px solid #75263b !important; }

.icNote-message .bluedot {
  background-color: #FF7000 !important;
  border: 1px solid #FF7000 !important; }

.icNote-time {
  color: dimgray !important; }

.lotusui30 a:hover {
  color: #FF7000 !important; }
.lotusui30 a:focus {
  color: #db8193 !important; }
.lotusui30 a:active {
  color: #db8193 !important; }
.lotusui30 a.icBanner-footer-link, .lotusui30 a.icBanner-footer-link:active, .lotusui30 a.icBanner-footer-link:visited {
  cursor: pointer; }
.lotusui30 a.icBanner-footer-link:hover {
  color: #FF7000 !important; }
.lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .icStream-search {
  border: 0; }
.lotusui30 .lotusStream .filterAreaInner {
  border-style: none; }
.lotusui30 .lotusStream #activityStreamMain.lotusWidgetBody .streamHeaderWrapper .lotusPaging {
  border: 0;
  border-radius: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"; }
.lotusui30 .lotusBoard .lotusStream {
  margin-top: -5px; }
  .lotusui30 .lotusBoard .lotusStream .lotusPostHover {
    background-color: #f4f5f6 !important; }
    .lotusui30 .lotusBoard .lotusStream .lotusPostHover .lotusInlinelist a:hover {
      color: #FF7000 !important; }
  .lotusui30 .lotusBoard .lotusStream .lotusPostSelected {
    background-color: #f4f5f6 !important; }
  .lotusui30 .lotusBoard .lotusStream #activityStreamMain.lotusWidgetBody .lotusPost {
    margin-right: 0;
    margin-left: 0; }
.lotusui30 .lotusBoard .lotusStreamUpdate .lotusActions {
  padding-left: 5px;
  padding-right: 5px; }
.lotusui30 .lotusBoard .lotusStreamUpdate .lconnRTE .cke.cke_focus {
  box-shadow: none !important;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #ccc !important; }
.lotusui30 .tabNavBar .lotusTabs li.lotusSelected {
  color: black;
  padding-bottom: 15px;
  border-bottom: 4px solid #FF7000 !important; }
.lotusui30 .lotusMain span.lotusBtn {
  background: transparent !important;
  border: 0 !important; }
  .lotusui30 .lotusMain span.lotusBtn a {
    border-radius: 2rem !important;
    -moz-border-radius: 2rem !important;
    -webkit-border-radius: 2rem !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
    transform: translateZ(0) !important;
    font-smooth: antialiased !important;
    -moz-osx-font-smoothing: antialiased !important;
    -webkit-font-smoothing: antialiased !important;
    cursor: pointer !important;
    -webkit-box-align: center !important;
    -webkit-box-pack: center !important;
    text-align: center !important;
    text-decoration: none !important;
    white-space: nowrap !important;
    padding: 9px 20px !important;
    font-weight: 800 !important;
    background-color: #74273b !important;
    color: #FFFFFF !important; }
  .lotusui30 .lotusMain span.lotusBtn a:hover {
    background-color: #ffffff !important;
    color: #75263b !important;
    border: 1px solid #75263b !important; }
.lotusui30 .lotusPlaceBar .lotusInlinelist li a {
  color: #75263b; }
.lotusui30 .lotusPlaceBar .lotusInlinelist li a:visited {
  color: #75263b; }
.lotusui30 .lotusFlyout .lotusFlyoutHeader {
  background-color: #f2f2f2 !important; }
  .lotusui30 .lotusFlyout .lotusFlyoutHeader table tbody .flyoutTitle .flyoutTitleOuter .flyoutTitleInner {
    color: black !important; }
    .lotusui30 .lotusFlyout .lotusFlyoutHeader table tbody .flyoutTitle .flyoutTitleOuter .flyoutTitleInner span input[dojoattachpoint="metaCloseInput"] {
      color: black; }
    .lotusui30 .lotusFlyout .lotusFlyoutHeader table tbody .flyoutTitle .flyoutTitleOuter .flyoutTitleInner span a, .lotusui30 .lotusFlyout .lotusFlyoutHeader table tbody .flyoutTitle .flyoutTitleOuter .flyoutTitleInner span a:active {
      font-weight: bold;
      text-decoration: none; }
    .lotusui30 .lotusFlyout .lotusFlyoutHeader table tbody .flyoutTitle .flyoutTitleOuter .flyoutTitleInner span a:hover, .lotusui30 .lotusFlyout .lotusFlyoutHeader table tbody .flyoutTitle .flyoutTitleOuter .flyoutTitleInner span a:focus {
      color: #FF7000 !important;
      font-weight: bold; }
  .lotusui30 .lotusFlyout .lotusFlyoutHeader .flyoutTitleContainer td.flyoutTime {
    color: dimgray !important;
    border-left: 0; }
.lotusui30 .lotusMenu li.lotusSelected, .lotusui30 .lotusMenu li.lotusSelected:active {
  border-top: none;
  border-bottom: none;
  color: black;
  border-left: 4px solid #75263b; }
.lotusui30 .lotusMenu li.lotusSelected:hover {
  border-left: 4px solid #75263b; }
.lotusui30 .lotusMenu .lotusUnreadBadge {
  background-color: #FF7000;
  color: white; }
.lotusui30 .lotusFooter a:active {
  color: #FF7000; }
.lotusui30 .lotusFooter a:hover {
  color: #FF7000; }
.lotusui30 .lotusFooter a:focus {
  color: #FF7000; }
.lotusui30 .lotusTitleBar, .lotusui30 .lotusTitleBar2 {
  background: #f1f1f1; }

.stproxy_navbarMenuNonVerse ul.navsimplelist .stproxy_navbarMenuNonVerse_buttonContainer button {
  border: 1px solid #75263b !important;
  box-shadow: 0 0 0 3px #75263b !important; }

#activitiesMain {
  background: #f1f1f1; }

/*# sourceMappingURL=global.css.map */
