/* Global */
@font-face {
    font-family: avenir;
    src: url("/files/customizer/global/AvenirLTStd-Book.otf?repoName=ibmcndevsq");
    src: url('/files/customizer/global/AvenirLTStd-Book.eot'); /* IE9 Compat Modes */
    src: url('/files/customizer/global/AvenirLTStd-Book.eot?#iefix&repoName=ibmcndevsq') format('embedded-opentype'), /* IE6-IE8 */
       url('/files/customizer/global/AvenirLTStd-Book.woff2?repoName=ibmcndevsq') format('woff2'), /* Super Modern Browsers */
       url('/files/customizer/global/AvenirLTStd-Book.woff?repoName=ibmcndevsq') format('woff'), /* Pretty Modern Browsers */
       url('/files/customizer/global/AvenirLTStd-Book.ttf?repoName=ibmcndevsq')  format('truetype'), /* Safari, Android, iOS */
       url('/files/customizer/global/AvenirLTStd-Book.svg#svgFontName?repoName=ibmcndevsq') format('svg'); /* Legacy iOS */
}

* {
 font-size: 100%;
 font-family: avenir !important;
}

#lotusFrame .lotusWrapper, #lotusFrame .activityStreamPage {
    background: #f1f1f1;
}

.lotusui30 .tabNavBar div.lotusTitleBar2 .lotusWrapper .tabNavInner {
    background: white;
}

.lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .icStream-search {
    background: white;
    border: 0;
}

.lotusui30_body {
    background-color: #f1f1f1;
}

body.lotusui30 .lotusTitleBar, body .lotusui30_layout .lotusColLeft, .lotusui30_layout .lotusColLeft:after {}

/* navigation bar */

.ics-scbanner {
    color: #75263b !important;
    background-color: white !important;
    transition: none;
}

.hikari.ics-scbanner>a, .hikari.ics-scbanner>a:visited, .hikari.ics-scbanner>a:hover, .hikari.ics-scbanner>a:focus, .hikari.ics-scbanner>a:active, .gen4.ics-scbanner>a, .gen4.ics-scbanner>a:visited, .gen4.ics-scbanner>a:hover, .gen4.ics-scbanner>a:focus, .gen4.ics-scbanner>a:active, .colour.ics-scbanner>a, .colour.ics-scbanner>a:visited, .colour.ics-scbanner>a:hover, .colour.ics-scbanner>a:focus, .colour.ics-scbanner>a:active {
    color: #75263b !important;
}

#ics-scbanner-home {
    color: #75263b !important;
}

#communitiesMenu_container {
    color: #75263b !important;
}

#nav_bar_include .files {
    color: #75263b !important;
}

#nav_bar_include .activities {
    color: #75263b !important;
}

body .hikari.ics-scbanner>a, body .hikari.ics-scbanner>a:visited, body .hikari.ics-scbanner>a:focus, body .hikari.ics-scbanner>a:active, body .gen4.ics-scbanner>a, body .gen4.ics-scbanner>a:visited, body .gen4.ics-scbanner>a:focus, body .gen4.ics-scbanner>a:active, body .colour.ics-scbanner>a, body .colour.ics-scbanner>a:visited, body .colour.ics-scbanner>a:focus, body .colour.ics-scbanner>a:active {
    color: #75263b !important;
}

.ics-scbanner>a:hover::after, .ics-scbanner>button:hover::after, .ics-scbanner>.navmenu:hover::after {
    border-bottom: 0.125rem solid #FF7000 !important;
}

.ics-scbanner>.selected::after {
    border-bottom: 0.125rem solid #FF7000 !important;
}

.ics-scbanner .navsimplelist>li a:focus {
    border-bottom: 0.0625rem solid #75263b;
    border-top: 0.0625rem solid #75263b;
}

.ics-scbanner .navsimplelist>li a:hover:before, .ics-scbanner .navsimplelist>li a:hover::after {
    background-color: #e5e5e5;
    content: "";
    height: 0.0625rem;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 85%;
}
.lotusui30 .ics-scbanner.isfixed .joinmeeting {
   display:none;
}

.lotusSection2.homepage-widget:first-child {
   display:none;
}
/* navigation bar::chat.logout.button */

.stproxy_navbarMenuNonVerse ul.navsimplelist .stproxy_navbarMenuNonVerse_buttonContainer button {
    background: #75263b !important;
    border: 1px solid #75263b !important;
    box-shadow: 0 0 0 3px #75263b !important;
}

.lotusui30 a:hover, .lotusui30 a:focus, .lotusui30 a:active {
    color: #db8193;
}

.lotusui30 a, .lotusui30 a:visited {
    color: #75263b;
}

.icBanner-badge {
    background: none repeat scroll 0 0 #FF7000;
}

.icBanner-notif-center .icBanner-popover-notificationReadAll {
    color: #75263b;
}

.icBanner-notif-center .icBanner-popover-notificationReadAll:hover {
    color: #75263b;
}

.lotusui30 a:hover, .lotusui30 a:focus, .lotusui30 a:active {
    color: #75263b;
}

.lotusui30_layout .lotusColLeft .lotusSection, .lotusui30_layout .lotusColLeft .lotusTips, .lotusui30_layout .lotusColLeft .lotusWidget, .lotusui30_layout .lotusColLeft .lotusWidget2, .lotusui30_layout .lotusColRight .lotusInfoBox, .lotusui30_layout .lotusColRight .lotusSection, .lotusui30_layout .lotusColRight .lotusSection2, .lotusui30_layout .lotusColRight .lotusTips, .lotusui30_layout .lotusColRight .lotusWidget, .lotusui30_layout .lotusColRight .lotusWidget2 {
    margin: 0;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    background: white;
}

.lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .icStream-search {
    border: 0;
}

.icNote-message .bluedot {
    background-color: #db8193;
    border: 1px solid #db8193;
}

.cke_editable.cke_editable_themed.lconnShareboxCke {
    background: #f6f9fc !important;
}

.lotusui30_body.cke_editable {
    background: #f6f9fc !important;
}

.streamHeaderWrapper.isSticky.isExpanded .lotusStreamUpdate .lotusActions .lotusInlinelist a {
    color: white !important;
}

.lotusStream #activityStreamMain.lotusWidgetBody .streamHeaderWrapper.isSticky.isExpanded .lotusBoard .lotusStreamUpdate {
    border-bottom: none !important;
}

.lotusui30 .lotusBoard .lotusStreamUpdate .lconnRTE .cke {
    /*border: none !important;*/
}

div[dojoattachpoint~="inputFormNode"] {
    /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1); */
    box-shadow: none !important;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0;
}

div[dojoattachpoint~="inputFormNode"]>div[role~="region"] {
    margin-top: -5px;
    /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1); */
}

.lotusui30 .lotusBoard .lotusStream {
    margin-top: -5px;
}

/* search menu  */

.icSearchBar a.icSearchIcon {
    width: 16px !important;
    height: 16px !important;
    margin-top: 31px !important;
    margin-left: 9px !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 version=%221.1%22 x=%220px%22 y=%220px%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%2375263b%22 d=%22M24.7,23.3l-9.4-9.4c0,0,0,0-0.1,0c1.2-1.5,1.9-3.3,1.9-5.3c0-4.7-3.8-8.6-8.6-8.6S0,3.8,0,8.6s3.8,8.6,8.6,8.6c2,0,3.9-0.7,5.3-1.9c0,0,0,0,0,0.1l9.4,9.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C25.1,24.3,25.1,23.7,24.7,23.3zM8.6,15.4c-3.8,0-6.9-3.1-6.9-6.9c0-3.8,3.1-6.9,6.9-6.9c3.8,0,6.9,3.1,6.9,6.9C15.4,12.4,12.4,15.4,8.6,15.4z%22/%3E%3C/svg%3E") !important;
    background-size: 18px 18px !important;
}

.icSearchBar a.icSearchIcon svg {
    display: none;
}

.icSearchBar .dijitTextBox {
    line-height: 1.5 !important;
    min-width: 10rem !important;
    padding: 0 !important;
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #d8d8d8 !important;
    font-size: 12.8px !important;
    padding-right: 2rem !important;
    padding-bottom: .375rem !important;
    box-sizing: border-box !important;
    height: auto !important;
}

.icSearchBar .dijitTextBox:focus, .icSearchBar .dijitTextBox .dijitTextBoxFocused {
    outline: none !important;
    border-color: #75263b !important;
    box-shadow: 0 1px 0 #75263b !important;
}

.icSearchBar .dijitTextBoxFocused {
    box-shadow: 0 1px 0 #75263b !important;
    outline: none !important;
    border-bottom: 1px solid #75263b !important;
}

.search-history-view-ui .icSearchPane .pfEntry:hover, .search-history-view-ui .icSearchPane .pfEntry.spSelected {
    border-color: #75263b !important;
}

.search-history-view-ui .icSearchPane .pfEntry:hover .lconn_gray, .search-history-view-ui .icSearchPane .pfEntry.spSelected .lconn_gray {
    color: #595859 !important;
}

.icSearchPaneButton {
    border-radius: 50% !important;
    background-color: #75263b !important;
    border: 1px solid #75263b !important;
    outline: none !important;
    right: 23px !important;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2) !important;
}

.icSearchPaneButton a {
    width: 16px !important;
    height: 16px !important;
    margin-top: -9px !important;
    margin-left: 8px !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 version=%221.1%22 x=%220px%22 y=%220px%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M24.7,23.3l-9.4-9.4c0,0,0,0-0.1,0c1.2-1.5,1.9-3.3,1.9-5.3c0-4.7-3.8-8.6-8.6-8.6S0,3.8,0,8.6s3.8,8.6,8.6,8.6c2,0,3.9-0.7,5.3-1.9c0,0,0,0,0,0.1l9.4,9.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C25.1,24.3,25.1,23.7,24.7,23.3zM8.6,15.4c-3.8,0-6.9-3.1-6.9-6.9c0-3.8,3.1-6.9,6.9-6.9c3.8,0,6.9,3.1,6.9,6.9C15.4,12.4,12.4,15.4,8.6,15.4z%22/%3E%3C/svg%3E");
    background-size: 18px 18px !important;
}

.icSearchPaneButton a svg {
    display: none;
}

.icSearchPaneButton:hover, .icSearchPaneButton.icSearchFocused {
    border-color: #75263b !important;
    background-color: #FFFFFF !important;
    cursor: pointer !important;
}

.icSearchPaneButton:hover a, .icSearchPaneButton.icSearchFocused a {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 version=%221.1%22 x=%220px%22 y=%220px%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%2375263b%22 d=%22M24.7,23.3l-9.4-9.4c0,0,0,0-0.1,0c1.2-1.5,1.9-3.3,1.9-5.3c0-4.7-3.8-8.6-8.6-8.6S0,3.8,0,8.6s3.8,8.6,8.6,8.6c2,0,3.9-0.7,5.3-1.9c0,0,0,0,0,0.1l9.4,9.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C25.1,24.3,25.1,23.7,24.7,23.3zM8.6,15.4c-3.8,0-6.9-3.1-6.9-6.9c0-3.8,3.1-6.9,6.9-6.9c3.8,0,6.9,3.1,6.9,6.9C15.4,12.4,12.4,15.4,8.6,15.4z%22/%3E%3C/svg%3E");
}

.icSearchPaneButton#bhc_com_searchForm {
    top: 56px !important;
}

.icSearchPaneButton.icSearchBarMode {
    background-color: transparent !important;
    box-shadow: none !important;
}

.icSearchPaneButton.icSearchBarMode .icSearchIcon {
    top: -20px !important;
}

.icSearchPaneButton.icSearchBarMode .icSearchBar {
    padding-top: 0px !important;
}

/*========================*/

select {
    font-size: 12.8px !important;
    -webkit-appearance: none !important;
    display: block !important;
    width: auto !important;
    min-width: 50% !important;
    max-width: 100% !important;
    padding: 0 2.75rem 0.75rem 0 !important;
    color: #000000 !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #d8d8d8 !important;
    border-radius: 0 !important;
    cursor: pointer !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 version=%221.1%22 x=%220px%22 y=%220px%22 viewBox=%220 0 12 7.5%22%3E%3Cpath fill=%22%2375263b%22 d=%22M10.6,0L6,4.7L1.4,0L0,1.4l6,6.1l6-6.1L10.6,0z%22/%3E%3C/svg%3E") !important;
    background-size: 0.75rem !important;
    background-position: right .4rem !important;
    background-repeat: no-repeat !important;
    height: auto !important;
}

select:focus {
    border-bottom: 2px solid #75263b !important;
    outline: none !important;
}

select[disabled] {
    cursor: not-allowed !important;
    color: #969696 !important;
}

.lotusui30 .lotusStream .filterAreaInner {
    border-style: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lotusui30 .lotusBoard .lotusStream .lotusPostHover .lotusInlinelist a {
    color: #75263b !important;
}

.lotusui30 .lotusBoard .lotusStream .lotusPostHover .lotusInlinelist a:hover {
    color: #FF7000 !important;
}

ul[dojoattachpoint="commentListNode"] .vcard a.fn.url {
    color: #75263b !important;
    font-weight: bold !important;
}

div[dojoattachpoint="flyoutHeader"] {
    background-color: #f2f2f2 !important;
}

.lotusui30 .lotusFlyout .lotusFlyoutHeader .flyoutTitleInner {
    color: black;
}

.lotusui30 .lotusFlyout .lotusFlyoutHeader .flyoutTitleContainer td.flyoutTime {
    color: black;
}

.lotusLoading {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg version=%221.1%22 xmlns=%22http://www.w3.org/2000/svg%22 x=%220px%22 y=%220px%22 viewBox=%220 0 41.2 41.2%22%3E%3Cpath fill=%22%2375263b%22 d=%22M38.7,10.7l-3.3,1.8c1.4,2.5,2.1,5.2,2.1,8.1c0,9.3-7.6,16.9-16.9,16.9c-9.3,0-16.8-7.6-16.8-16.9 c0-9.3,7.5-16.8,16.8-16.8V0C9.3,0,0,9.3,0,20.6C0,32,9.3,41.3,20.6,41.3c11.4,0,20.7-9.3,20.7-20.7C41.3,17.1,40.4,13.7,38.7,10.7z%22/%3E%3C/svg%3E") !important;
    animation-name: rotate;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 16px !important;
    height: 16px !important;
    position: absolute !important;
    left: calc(50% - 8px) !important;
}

.scloud3 .lotusMenu li a:hover {
    background-color: #f4f5f6;
}

/* left side navigation */

.lotusMenu li a.lotusSelected, .lotusMenu li.lotusSelected a, .lotusMenu li.lotusSelected a:visited, .lotusMenu li.lotusSelected a:active, .lotusMenu h3.lotusSelected, .scloud3 .lotusMenu li.lotusSelected a, .scloud3 .lotusMenu li.lotusSelected a:hover, .scloud3 .lotusMenu li.lotusSelected a:focus, .scloud3 .lotusMenu li.lotusSelected a:active, .scloud3 .lotusMenu .lotusHeaderSelected, .lotusliveui .lotusMenu .lotusTree .dijitTreeRow.lotusSelected, .scloud3 .lotusMenu .lotusTree .dijitTreeRow.lotusSelected, .content_wrap .side_bar .current {
    text-decoration: none;
}

.lotusui30 .lotusMenu li.lotusSelected, .lotusui30 .lotusMenu li.lotusSelected:active {
    border-top: none;
    border-bottom: none;
    color: #000;
    border-left: 4px solid #75263b;
}

.lotusui30 .lotusMenu li.lotusSelected:hover {
    border-left: 4px solid #75263b;
}

.lotusui30 .lotusColLeft .lotusMenu li a:focus {
    border-top: 1px solid #75263b!important;
    border-bottom: 1px solid #75263b!important;
}

.lotusui30 .lotusMenu .lotusUnreadBadge {
    background-color: #FF7000;
    color: white;
}

/* stream main content*/

.lotusui30 .lotusBoard .lotusStream .lotusPostHover, .lotusui30 .lotusBoard .lotusStream .lotusPostSelected {
    background-color: #f4f5f6;
}

.lotusui30 .lotusBoard .lotusStream #activityStreamMain.lotusWidgetBody .lotusPost {
    margin-right: 0px;
    margin-left: 0px;
}

.lotusui30 .lotusBoard .lotusStreamUpdate .lotusActions {
    padding-left: 5px;
    padding-right: 5px;
}

:focus-within {
    outline: none;
}

/* Newsfeed > activity stream > share something */

.lotusui30 .lotusBoard .lotusStreamUpdate .lconnRTE .cke {
    border-radius: 0;
}

.lotusui30 .lotusBoard .lotusStreamUpdate .lconnRTE .cke.cke_focus {
    box-shadow: none !important;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0;
    border: 1px solid #ccc !important;
}

.cke_editable.cke_editable_themed.lconnShareboxCke {
    padding: 6px 0px 3px 6px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
}

.lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusPostHover .lotusInlinelist a {
    color: #75263b;
    /* text-decoration: underline; */
}

.lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusInlinelist.lotusActions .vcard a, .lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusCommentList .lotusInlinelist .lotusLike a {
    color: #75263b;
}

.lotusui30 .streamMore:hover, .lotusui30 .streamMore a:hover, .lotusui30 .streamMore:focus, .lotusui30 .streamMore a:focus, .lotusui30 .streamMore:active, .lotusui30 .streamMore a:active {
    color: #75263b;
    background: #e8e8e8;
}

.lotusui30 a:hover {
    color: #FF7000;
}

.lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusPostHover .lotusInlinelist a:hover {
    color: #FF7000;
}

.lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusInlinelist.lotusActions .vcard a:hover {
    color: #FF7000;
}

.lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusInlinelist.lotusActions .vcard a:focus, .lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusInlinelist.lotusActions .vcard a:hover, .lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusInlinelist.lotusActions .vcard a:active, .lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusInlinelist.lotusActions .lotusLike a:focus, .lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusInlinelist.lotusActions .lotusLike a:hover, .lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusInlinelist.lotusActions .lotusLike a:active {
    color: #FF7000;
}

.lotusui30 .lotusFlyout .lotusFlyoutHeader .vcard>a {
    color: #75263b;
}

.lotusui30 .lotusFlyout .lotusFlyoutHeader .vcard>a:hover {
    color: #FF7000;
}

.lotusui30 .lotusStream #activityStreamMain.lotusWidgetBody .streamHeaderWrapper .lotusPaging {
    background: #75263b;
    border: 0;
    border-radius: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

.lotusStream #activityStreamMain.lotusWidgetBody .stream-finLeft, .lotusStream #activityStreamMain.lotusWidgetBody .stream-finRight {
    background: #75263b;
}

.lotusStream #activityStreamMain.lotusWidgetBody .streamHeaderWrapper.isSticky .streamHeaderInner {
    background: #75263b;
}

body.lotusui:before {
    /*optional banner */
    /*background-size: 100% 105px;
	display: inline-block;
	width: 100%; 
    height: 105px;
    content:"";*/
}

.streamHeaderWrapper a {
    color: #75263b !important;
}

.streamHeaderWrapper .otherActivityStream14-asKnockedfin14 {
    width: 10px !important;
    background-position: 0 -50px !important;
}

#lconn_news_microblogging_sharebox_InputForm_0_myactions .lotusActions lotusMeta {
    color: #75263b !important;
}

a[dojoattachpoint~="attachActionButtonNode"] {
    color: #75263b !important;
}

a[dojoattachpoint~="postButtonNode"] {
    color: #75263b !important;
}

a[dojoattachpoint~="resetButtonNode"] {
    color: #75263b !important;
}

body.lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .icStream-search {
    background-color: #FFFFFF;
    border-color: rgba(33, 31, 66, .55);
}

body .hikari.ics-scbanner>a.selected, body .gen4.ics-scbanner>a.selected, body .colour.ics-scbanner>a.selected {
    color: #444!important;
}

body.lotusui30 .lotusTitleBar, body .lotusui30_layout .lotusColLeft, .lotusui30_layout .lotusColLeft:after {
    background: #f1f1f1 !important;
}

body .lotusui30_layout .lotusColLeft:after {
    /* main area of left column background */
    border-left: 1000px solid #f1f1f1 !important;
    background: #f1f1f1 !important;
    width: 1px;
    border-right: 240px solid #f1f1f1 !important;
    content: "";
    margin-left: -1001px;
    position: fixed;
    bottom: 0;
    height: 100%;
    z-index: -2;
}

body.lotusui30 .lotusPostContent .lotusPostAction .activityStreamSummary .vcard, body.lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusCommentList .lotusCommentItem .lotusPostContent .vcard * {
    font-size: 14px;
    font-weight: 400;
}

body.lotusui30 .lotusInlinelist {
    margin: 0;
    padding: 0 0 10px;
    list-style-type: none;
}

body.lotusui30 .lotusContent .lotusStream #activityStreamMain.lotusWidgetBody .lotusPagingTop.lotusPaging ul.lotusInlinelist li a:hover {
    font-weight: 500;
}

ul[dojoattachpoint~="filterHolderNode"] li>a {
    color: white !important;
}

img[dojoattachpoint~="filterSharkFinImg"] {
    background-image: url("https://github.com/google/material-design-icons/raw/master/sprites/css-sprite/sprite-navigation-white.png");
}

.lotusStream .lotusWidgetBody#activityStreamMain .stream-finLeft {
    width: 1000px;
}

.lotusStream .lotusWidgetBody#activityStreamMain .stream-finRight {
    width: 1190px;
}

.streamHeaderWrapper .otherActivityStream14-asKnockedfin14 {
    width: 13px !important;
    height: 8px !important;
    background-position: -74px -42px !important;
    background-color: #75263b;
}

#gadgetDiv {
    background: white;
}

.lotusui30_body .lotusMain {
    background: #f1f1f1 !important;
}

.lotusui30 .tabNavBar {
    box-shadow: none;
}

.lotusHeader .shareSome-desc {
    background: white;
    padding: 8px;
    margin-bottom: 0px;
    padding-bottom: 16px;
}

.lotusui30_layout .lotusColLeft {
    padding-right: 0px;
}

.lotusui30 .lotusPaging .lotusInlinelist li {
    border-left: 1px solid #749cc0;
}

.lotusui30 .lotusPagingBottom a {
    margin-right: 0px;
    margin-left: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

.lotusui30 .streamMore {
    border-radius: 0px;
}

div[dojoattachpoint~=“commentInputTextBox”] {
    border: 1px solid #dddddd;
}

div[dojoattachpoint~=“commentInputTextBox”] .lotusui30 .lotusBoard .lotusStreamUpdate .lconnRTE .cke.cke_focus {
    border-radius: 0;
    margin-left: 0px;
    margin-right: 0px;
}

.lotusui30 .lotusBoard .lotusStreamUpdate .lconnRTE .cke_inner {
    background-color: transparent;
    box-shadow: 0 4px 4px #f7f9fc, inset;
}

.lotusui30 .lotusBoard .lotusStreamUpdate .lconnRTE .cke_contents {
    border: none !important;
    background: #f7f9fc;
    transition: all 0.2s ease 0s;
}

/***** PROFILES *****/

.lotusBtn, .lotusFormButton, .ics-dialog-action #ok, .ics-dialog-action .cancel.neutral, .filesList .lotusDetails .lotusBtnSmallGray, .qkrEdit .lotusBtnSmall, .entryEditTable .lotusBtnSmall, .entryEditTable .lotusBtnSmallGray, .wikiHeader .lotusBtnSmall, #blogCommentPanel [dojoattachpoint='addCommentLinkAP'].lotusAction, .blog .lotusBtn a, .wikiHeader .lotusBtn a, #topicList .lotusBtn a, #forum .lotusBtn a, #pageDetails .qkrTabBody div[dojoattachpoint="toggleNode"] a {
    border-radius: 2rem !important;
    border-width: 1px !important;
    border-style: solid !important;
    box-shadow: none !important;
    transform: translateZ(0) !important;
    -webkit-font-smoothing: antialiased !important;
    cursor: pointer !important;
    -webkit-box-align: center !important;
    -webkit-box-pack: center !important;
    text-align: center !important;
    text-decoration: none !important;
    transition: background-color 150ms ease-in, color 150ms ease-in, border-color 150ms ease-in !important;
    white-space: nowrap !important;
    padding: 9px 20px !important;
    font-weight: 500 !important;
    background-color: #74273b !important;
    border-color: #FFFFFF !important;
    color: #FFFFFF !important;
}

#photoUploadFileSelectorButtonSpan, #photoUploadFileSelectorButtonSpan:hover {
    background-color: transparent! important;
    border: 0 !important;
}

#audioUploadFileSelectorButtonSpan, #audioUploadFileSelectorButtonSpan:hover {
    background-color: transparent! important;
    border: 0 !important;
}

.lotusBtn:hover, .lotusFormButton:hover {
    background-color: #FFFFFF !important;
    border-color: #74273b !important;
    color: #74273b !important;
}

/* PROFILES > TABS */

.lotusTabContainer {
    border-bottom: 1px solid #d8d8d8 !important;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
}

.lotusTabContainer .lotusTabs li {
    margin: 0 !important;
    padding: 0.625rem 0 0.375rem !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}

.lotusTabContainer .lotusTabs li:hover, .lotusTabContainer .lotusTabs li:hover a, .lotusTabContainer .lotusTabs li:focus, .lotusTabContainer .lotusTabs li:focus a, .lotusTabContainer .lotusTabs li:active, .lotusTabContainer .lotusTabs li:active a {
    text-decoration: none !important;
}

.lotusTabContainer .lotusTabs li a {
    transition: none !important;
}

.lotusTabContainer .lotusTabs li #about_link:hover, .lotusTabContainer .lotusTabs li #share_link:hover, .lotusTabContainer .lotusTabs li a._linkHolder.lotusLeft:hover {
    color: #74273b !important;
    background: transparent !important;
}

.lotusTabContainer .lotusTabs li #about_link:hover, .lotusTabContainer .lotusTabs li #about_link:active, .lotusTabContainer .lotusTabs li #about_link:focus, .lotusTabContainer .lotusTabs li #share_link:hover, .lotusTabContainer .lotusTabs li #share_link:focus, .lotusTabContainer .lotusTabs li a._linkHolder.lotusLeft:hover, .lotusTabContainer .lotusTabs li a._linkHolder.lotusLeft:focus {
    font-weight: 500 !important;
}

.lotusTabContainer .lotusTabs li a._linkHolder.lotusLeft:active, .lotusTabContainer .lotusTabs li #share_link:active {
    color: #000000 !important;
}

.lotusTabContainer .lotusTabs li.lotusSelected {
    border-bottom: 4px solid #74273b !important;
    background: transparent;
}

.lotusTabContainer .lotusTabs li.lotusSelected a {
    color: #000000 !important;
}

.lotusTabContainer .lotusTabs li.lotusSelected a:hover {
    color: #74273b !important;
    background-color: transparent !important;
    font-weight: 700 !important;
    text-decoration: none !important;
}

.lotusTabContainer .lotusTabs li.lotusSelected a:focus {
    color: #000000 !important;
    background-color: transparent !important;
}

.lotusTabContainer .lotusTabs li.lotusSelected a:active, .lotusTabContainer .lotusTabs li.lotusSelected a:focus {
    text-decoration: none !important;
}

.lotusTabContainer .lotusTabs li.lotusSelected #about_link:focus, .lotusTabContainer .lotusTabs li.lotusSelected #share_link:focus, .lotusTabContainer .lotusTabs li.lotusSelected a._linkHolder.lotusLeft:focus {
    color: #000000 !important;
}

.lotusTabContainer .lotusTabs li:focus {
    outline: none !important;
}

.lotusTabContainer .lotusTabs li:focus a {
    color: #000000 !important;
    background-color: transparent !important;
}

.lotusTabContainer .lotusTabs li a {
    padding: 0.5rem 1rem !important;
    margin: 0 !important;
    font-size: inherit !important;
    color: #595859 !important;
    border-radius: 2px !important;
    border: 1px solid transparent !important;
    font-weight: 500 !important;
}

.lotusTabContainer .lotusTabs li a:hover {
    color: #74273b !important;
    font-weight: 500 !important;
}

.lotusTabContainer .lotusTabs li a:focus {
    color: #000000 !important;
    background-color: transparent !important;
}

/* PROFILE > VCARD */

a.lotusPerson, a:visited.lotusPerson, .vcard {
    color: #000000 !important;
}

.vcard a.menu_drop_icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 version=%221.1%22 x=%220px%22 y=%220px%22 viewBox=%220 0 12 7.5%22%3E%3Cpath fill=%22%23595859%22 d=%22M10.6,0L6,4.7L1.4,0L0,1.4l6,6.1l6-6.1L10.6,0z%22/%3E%3C/svg%3E") !important;
    background-size: 0.65rem !important;
    background-position: 2px !important;
    background-repeat: no-repeat !important;
    margin-left: 0px !important;
    margin-right: 5px !important;
}

/* TAGS | CLOUD */

/* COMMUNITIES */

.lotusui30 span.lotusBtn {
    background: transparent !important;
    border: 0 !important;
}

.lotusui30 .lotusMain span.lotusBtn a {
    border-radius: 2rem !important;
    border-width: 1px !important;
    border-style: solid !important;
    box-shadow: none !important;
    transform: translateZ(0) !important;
    -webkit-font-smoothing: antialiased !important;
    cursor: pointer !important;
    -webkit-box-align: center !important;
    -webkit-box-pack: center !important;
    text-align: center !important;
    text-decoration: none !important;
    transition: background-color 150ms ease-in, color 150ms ease-in, border-color 150ms ease-in !important;
    white-space: nowrap !important;
    padding: 9px 20px !important;
    font-weight: 500 !important;
    background-color: #74273b !important;
    color: #FFFFFF !important;
}

.lotusui30 .lotusMain span.lotusBtn a:hover {
    background-color: #ffffff !important;
    color: #74273b !important;
    border: 1px solid #74273b !important;
}

.lotusui30 .tabNavBar .lotusTabs li.lotusSelected {
    color: black;
    padding-bottom: 15px;
    border-bottom: 4px solid #FF7000;
}

.lotusui30 .lotusPlaceBar .lotusInlinelist li a, .lotusui30 .lotusPlaceBar .lotusInlinelist li a:visited {
    color: #75263b;
}

.lotusui30dojo a:hover, .lotusui30dojo a:focus, .lotusui30dojo a:active {
    text-decoration: none;
    color: #FF7000;
}

#communityActionBar a:hover {
    color: #FF7000;
}

/* community description */

.communities-widget-appearance .lotusui30_layout .lotusColLeft div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container)>.lotusWidget2 a, .communities-widget-appearance .lotusui30_layout .lotusColLeft div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container)>.lotusWidget2 a:active, .communities-widget-appearance .lotusui30_layout .lotusColLeft div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container)>.lotusWidget2 a:focus, .communities-widget-appearance .lotusui30_layout .lotusColLeft div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container)>.lotusWidget2 a:hover, .communities-widget-appearance .lotusui30_layout .lotusColLeft div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container)>.lotusWidget2 a:visited {
    color: #75263b;
}

.lotusui30 .lotusSection2 .lotusSectionHeader .lotusActionIcon:focus img, .lotusui30 .lotusWidget h2 a.lotusActionMenu, .lotusui30 .lotusWidget2 h2 a.lotusActionMenu:focus {
    outline: #75263b solid 1px;
}

.lotusui30 .dijitMenuPopup .dijitMenuTable .dijitMenuItemSelected td.dijitMenuItemIconCell {
    border-left: 4px solid #75263b!important
}
