/* Global.css
**************/
html{
  font-size: 16px;
}

body .ics-scbanner, body .lotusui30 .ics-scbanner.isfixed{
  height: 4rem !important;
  padding: 0;
  padding-left: 1.25rem;
  background-color: #FF7800 !important;
  font-size: 1.5em;
  color: #fff !important;
}
body .hikari.ics-scbanner > a, #ics-scbanner-home, #communitiesMenu_container, #nav_bar_include .files, #nav_bar_include .activities{
  color: #fff !important;
}
body #nav_bar_include .navsimplelist a{
  color: #962264 !important;
}

.ics-scbanner > .navmenu + .navmenu{
  margin: 0;
}

#nav_bar_include.ics-scbanner.hikari.isfixed > div.navcenter ~ div{
  color: #962264;
  background-color: #fff;
}

#bss-adminMenu{
  padding-left: 1.25rem;
}

#bss-usersMenu{
  padding-right: 1.25rem;
}

.ics-scbanner svg:not(.menu-image){
  fill: #FF7800 !important;
}

.ics-scbanner > a:hover::after, .ics-scbanner > button:hover::after, .ics-scbanner > .navmenu:hover::after, .ics-scbanner > .selected::after{
  border-bottom: 0.125rem solid #FFFFFF !important;
}
.ics-scbanner > div.navcenter ~ div.navmenu:hover::after{
  border-bottom: 0.125rem solid #FF7800 !important;
}

.ics-scbanner > a + a, .ics-scbanner > a, .ics-scbanner > a + .navmenu{
  margin-left: 0rem;
  padding: 0 1rem;
}

.icSearchPaneButton{
  top: 84px !important;
}

.sc.hikari.lotusui30 div.lotusTitleBar h2{
  padding-top: 0;
}

#lotusTitleBar .lotusHeading, body.lotusui30 .hikari.ics-scbanner .lotusTitleBar2 .lotusHeading .lotusText, .lotusui30 div.lotusTitleBar2 .lotusHeading, .lotusTitleBar2 h2 a{
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  color: #676767 !important;
}

.lotusliveui, lotusliveui30, .scloud3 .lotusNavTabs .lotusTabInner{
  font-size: 1.15em;
}

.lotusui30 .lotusFooter{
  max-width: inherit;
}
.lotusui30 #lotusFooter.lotusFooter a{
  font-size: 0.7rem !important;
}

/* Communities.css
************************************/
.lotusui30_body.scloud3 {
  margin-top: 64px !important;
}

.lotusui30 .tabNavBar div.lotusTitleBar2 .lotusWrapper .tabNavInner{
  background-color: #fff;
}


/* Profile.css
************************************/



/* REMOVE RULES FROM CSS FILES
*************************************
[profile; communities; files; ]
.ics-scbanner > div.navmenu, .ics-scbanner > a{
    font-size: 12px;
    font-weight: 400 !important;
}

.ics-scbanner > a:hover::after, .ics-scbanner > button:hover::after, .ics-scbanner > .navmenu:hover::after, .ics-scbanner > .selected::after{
    border-bottom: 0.125rem solid #FF7800 !important;
}

[communities]
.lotusTitleBar2 h2 a{}
    font-size: 21px !important;
    font-weight: 400 !important;
}

.lotusTitleBar2 h2 a{
    color: #000000 !important;
    font-size: 21px !important;
    font-weight: 400 !important;
    padding-left: 7px;
}

[profile]
.sc.hikari.lotusui30 #lotusColLeft .lotusSection h2 span, .sc.hikari.lotusui30 #lotusColLeft div[id^="scGroupTree"] h2 span {
    font-size: 1rem !important;
}
*/