#notificationsMenu .header-left {
  font-weight: 700 !important;
  padding: 0px !important;
  font-size: 1rem;
  width: 63%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
#notificationsMenu .header-right {
  padding: 0px !important; }
  #notificationsMenu .header-right span, #notificationsMenu .header-right a {
    color: #75263b !important;
    padding: 0px !important;
    margin: 0px !important; }
    #notificationsMenu .header-right span:hover, #notificationsMenu .header-right span:focus, #notificationsMenu .header-right a:hover, #notificationsMenu .header-right a:focus {
      text-decoration: underline !important;
      outline: none; }
  #notificationsMenu .header-right a.icBanner-popover-notificationSettings {
    position: absolute !important;
    bottom: 17px !important;
    right: 24px !important; }
  #notificationsMenu .header-right span.icBanner-popover-notificationReadAll {
    position: absolute !important;
    right: 24px;
    top: 22px;
    text-align: right;
    width: 32%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  #notificationsMenu .header-right #separator {
    display: none !important; }
#notificationsMenu .icBanner-popover-header {
  border-bottom: 1px solid #F3F3F3; }
#notificationsMenu .icBanner-popover-footer {
  border-top: 1px solid #F3F3F3; }
  #notificationsMenu .icBanner-popover-footer ul {
    padding: 18px 24px 18px 24px !important;
    padding-bottom: 16px !important; }
  #notificationsMenu .icBanner-popover-footer .icBanner-footer-link {
    font-size: 14px !important;
    color: #75263b !important; }
    #notificationsMenu .icBanner-popover-footer .icBanner-footer-link:hover {
      text-decoration: underline !important; }
#notificationsMenu #headerPopupNode {
  padding: 18px 24px 18px 24px !important; }
#notificationsMenu .icBanner-popover-content .icNotification-post {
  padding-left: 14px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important; }
  #notificationsMenu .icBanner-popover-content .icNotification-post:before {
    width: 100% !important; }
  #notificationsMenu .icBanner-popover-content .icNotification-post:hover {
    background-color: #F3F3F3 !important; }
    #notificationsMenu .icBanner-popover-content .icNotification-post:hover .icNote-summary p:after {
      background-color: #F3F3F3 !important; }
  #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-time abbr {
    text-decoration: none !important;
    font-weight: normal !important;
    color: #595859 !important; }
  #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-title {
    font-weight: 600 !important; }
    #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-title a {
      color: #75263b !important;
      font-weight: bold !important; }
      #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-title a:active, #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-title a:hover, #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-title a:focus {
        text-decoration-line: underline !important;
        text-decoration-color: #75263b !important;
        text-decoration: underline !important;
        outline: none !important; }
      #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-title a:visited {
        color: #75263b !important; }
      #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-title a.fn.url {
        color: black !important;
        display: block; }
  #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-summary {
    text-overflow: ellipsis !important; }
    #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-summary img {
      height: auto;
      width: auto;
      max-width: 100%;
      clear: both;
      float: left; }
    #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-summary p:lang(en):after {
      content: 'No comment provided';
      color: #595859;
      font-weight: 400;
      position: relative;
      bottom: 0;
      left: -13px;
      width: 400px;
      height: 10px;
      background: #FFFFFF;
      display: inline-block; }
  #notificationsMenu .icBanner-popover-content .icNotification-post .bluedot {
    border-color: #75263b !important;
    top: 19px !important;
    left: 45px !important;
    width: 8px !important;
    height: 8px !important; }
  #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-body:not(.selected) .bluedot {
    background-color: #75263b !important; }
    #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-body:not(.selected) .bluedot:hover {
      border-color: #75263b !important; }
  #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-body.selected .bluedot {
    display: none !important; }
  #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-body.selected .icNote-title, #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-body.selected .icNote-title a {
    font-weight: 400 !important; }
  #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-body.selected .icNote-title.fn.url, #notificationsMenu .icBanner-popover-content .icNotification-post .icNote-body.selected .icNote-title a.fn.url {
    color: #595859 !important; }

/*# sourceMappingURL=notifications.css.map */
