@import "../common/var";


#javlinDiv {
    .personMenu {
  
      width: 320px !important;
  
      a {
        -webkit-font-smoothing: antialiased !important;
        font-weight: 600 !important;
        color: $bordeaux !important;
      }
  
      .topActionHolder {
        .topAction {
  
          display: inline-block;
          padding-right: 10px;
          border: 0;
          padding-left: 0;
  
          &::before {
            content: none;
          }
        }
  
        .photoCard {
          height: 75px !important;
          width: 75px !important;
        }
  
        img {
          height: 75px !important;
          width: 75px !important;
        }
  
        .businessCard {
          margin-left: 0rem !important;
          width: 180px !important;
          margin-right: 1.2rem !important;
          margin-bottom: 1rem !important;
  
        }
      }
  
      .personMenuActionsCompact {
        border-top: 1px solid #d8d8d8 !important;
        padding: 0.5rem 0 !important;
        margin: 0 1rem !important;
  
        span {
          color: #d8d8d8 !important;
        }
      }
  
      ul {
  
        &.topActionHolder {
          background-color: $white !important;
          border-bottom: 1px solid #d8d8d8 !important;
          margin: 0 1rem 1rem 1rem !important;
          padding: 0.5rem 0 !important;
  
          li {
            &.topActionClose {
              padding-right: 0 !important;
            }
  
            &.topAction {
              a {
                color: $bordeaux !important;
  
                &:hover {
                  text-decoration-color: $bordeaux !important;
                }
  
                &::after {
                  content: "";
                  padding-left: 1px;
                  margin-left: 8px !important;
                  background-color: #d8d8d8 !important;
                  margin-top: 3px !important;
                }
  
                &::before {
                  padding: 0 !important;
                }
              }
  
              &:nth-child(2), &:last-child {
                a {
                  &::after {
                    margin-left: 0 !important;
                    padding-left: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
  
      li {
        &.lotusBreakWord {
          &:nth-child(4) {
            margin-top: 1rem !important;
          }
        }
      }
    }
  }
