

.personMenu .topActionHolder {
	background: #75263b !important;
}

.personMenu .businessCard #javlinAwarenessIcon span[dojoattachpoint="livenameContainer"] span[dojoattachpoint="displayNameWrapper"] span[dojoattachpoint="displayNameNode"] {
	display: none;
}

#javlinActionsExpanded a {
	color: #75263b;
}

.personMenu .personMenuActions a.disabledLink {
	color: gray;
}


#memberPane div[role=list], .MoveActivity .selection .itemNotSelected, .lotusui30 .list {
	background-color: #f1f1f1;
}

.lotusui30 div.lotusPlaceBar.lconnSharedExternalPlaceBar h2 {
	min-height: 50px;
}
