.dj_a11y .lotusBtn:disabled:focus,
.dijit_a11y .lotusBtn:disabled:focus,
.dj_a11y .lotusBtn[disabled="disabled"]:focus,
.dijit_a11y .lotusBtn[disabled="disabled"]:focus,
.dj_a11y .lotusBtn.lotusBtnDisabled:focus,
.dijit_a11y .lotusBtn.lotusBtnDisabled:focus,
.dj_a11y .lotusFormButton:disabled:focus,
.dijit_a11y .lotusFormButton:disabled:focus,
.dj_a11y .lotusFormButton[disabled="disabled"]:focus,
.dijit_a11y .lotusFormButton[disabled="disabled"]:focus,
.dj_a11y .lotusFormButton.lotusBtnDisabled:focus,
.dijit_a11y .lotusFormButton.lotusBtnDisabled:focus,
.dj_a11y .ics-dialog-action #ok:disabled:focus,
.dijit_a11y .ics-dialog-action #ok:disabled:focus,
.dj_a11y .ics-dialog-action #ok[disabled="disabled"]:focus,
.dijit_a11y .ics-dialog-action #ok[disabled="disabled"]:focus,
.dj_a11y .ics-dialog-action #ok.lotusBtnDisabled:focus,
.dijit_a11y .ics-dialog-action #ok.lotusBtnDisabled:focus,
.dj_a11y .ics-dialog-action .cancel.neutral:disabled:focus,
.dijit_a11y .ics-dialog-action .cancel.neutral:disabled:focus,
.dj_a11y .ics-dialog-action .cancel.neutral[disabled="disabled"]:focus,
.dijit_a11y .ics-dialog-action .cancel.neutral[disabled="disabled"]:focus,
.dj_a11y .ics-dialog-action .cancel.neutral.lotusBtnDisabled:focus,
.dijit_a11y .ics-dialog-action .cancel.neutral.lotusBtnDisabled:focus,
.dj_a11y .filesList .lotusDetails .lotusBtnSmallGray:disabled:focus,
.dijit_a11y .filesList .lotusDetails .lotusBtnSmallGray:disabled:focus,
.dj_a11y .filesList .lotusDetails .lotusBtnSmallGray[disabled="disabled"]:focus,
.dijit_a11y .filesList .lotusDetails .lotusBtnSmallGray[disabled="disabled"]:focus,
.dj_a11y .filesList .lotusDetails .lotusBtnSmallGray.lotusBtnDisabled:focus,
.dijit_a11y .filesList .lotusDetails .lotusBtnSmallGray.lotusBtnDisabled:focus,
.dj_a11y .qkrEdit .lotusBtnSmall:disabled:focus,
.dijit_a11y .qkrEdit .lotusBtnSmall:disabled:focus,
.dj_a11y .qkrEdit .lotusBtnSmall[disabled="disabled"]:focus,
.dijit_a11y .qkrEdit .lotusBtnSmall[disabled="disabled"]:focus,
.dj_a11y .qkrEdit .lotusBtnSmall.lotusBtnDisabled:focus,
.dijit_a11y .qkrEdit .lotusBtnSmall.lotusBtnDisabled:focus,
.dj_a11y .entryEditTable .lotusBtnSmall:disabled:focus,
.dijit_a11y .entryEditTable .lotusBtnSmall:disabled:focus,
.dj_a11y .entryEditTable .lotusBtnSmall[disabled="disabled"]:focus,
.dijit_a11y .entryEditTable .lotusBtnSmall[disabled="disabled"]:focus,
.dj_a11y .entryEditTable .lotusBtnSmall.lotusBtnDisabled:focus,
.dijit_a11y .entryEditTable .lotusBtnSmall.lotusBtnDisabled:focus,
.dj_a11y .entryEditTable .lotusBtnSmallGray:disabled:focus,
.dijit_a11y .entryEditTable .lotusBtnSmallGray:disabled:focus,
.dj_a11y .entryEditTable .lotusBtnSmallGray[disabled="disabled"]:focus,
.dijit_a11y .entryEditTable .lotusBtnSmallGray[disabled="disabled"]:focus,
.dj_a11y .entryEditTable .lotusBtnSmallGray.lotusBtnDisabled:focus,
.dijit_a11y .entryEditTable .lotusBtnSmallGray.lotusBtnDisabled:focus,
.dj_a11y .wikiHeader .lotusBtnSmall:disabled:focus,
.dijit_a11y .wikiHeader .lotusBtnSmall:disabled:focus,
.dj_a11y .wikiHeader .lotusBtnSmall[disabled="disabled"]:focus,
.dijit_a11y .wikiHeader .lotusBtnSmall[disabled="disabled"]:focus,
.dj_a11y .wikiHeader .lotusBtnSmall.lotusBtnDisabled:focus,
.dijit_a11y .wikiHeader .lotusBtnSmall.lotusBtnDisabled:focus,
.dj_a11y #blogCommentPanel [dojoattachpoint='addCommentLinkAP'].lotusAction:disabled:focus,
.dijit_a11y #blogCommentPanel [dojoattachpoint='addCommentLinkAP'].lotusAction:disabled:focus,
.dj_a11y #blogCommentPanel [dojoattachpoint='addCommentLinkAP'].lotusAction[disabled="disabled"]:focus,
.dijit_a11y #blogCommentPanel [dojoattachpoint='addCommentLinkAP'].lotusAction[disabled="disabled"]:focus,
.dj_a11y #blogCommentPanel [dojoattachpoint='addCommentLinkAP'].lotusAction.lotusBtnDisabled:focus,
.dijit_a11y #blogCommentPanel [dojoattachpoint='addCommentLinkAP'].lotusAction.lotusBtnDisabled:focus,
.dj_a11y .blog .lotusBtn a:disabled:focus,
.dijit_a11y .blog .lotusBtn a:disabled:focus,
.dj_a11y .blog .lotusBtn a[disabled="disabled"]:focus,
.dijit_a11y .blog .lotusBtn a[disabled="disabled"]:focus,
.dj_a11y .blog .lotusBtn a.lotusBtnDisabled:focus,
.dijit_a11y .blog .lotusBtn a.lotusBtnDisabled:focus,
.dj_a11y .wikiHeader .lotusBtn a:disabled:focus,
.dijit_a11y .wikiHeader .lotusBtn a:disabled:focus,
.dj_a11y .wikiHeader .lotusBtn a[disabled="disabled"]:focus,
.dijit_a11y .wikiHeader .lotusBtn a[disabled="disabled"]:focus,
.dj_a11y .wikiHeader .lotusBtn a.lotusBtnDisabled:focus,
.dijit_a11y .wikiHeader .lotusBtn a.lotusBtnDisabled:focus,
.dj_a11y #topicList .lotusBtn a:disabled:focus,
.dijit_a11y #topicList .lotusBtn a:disabled:focus,
.dj_a11y #topicList .lotusBtn a[disabled="disabled"]:focus,
.dijit_a11y #topicList .lotusBtn a[disabled="disabled"]:focus,
.dj_a11y #topicList .lotusBtn a.lotusBtnDisabled:focus,
.dijit_a11y #topicList .lotusBtn a.lotusBtnDisabled:focus,
.dj_a11y #forum .lotusBtn a:disabled:focus,
.dijit_a11y #forum .lotusBtn a:disabled:focus,
.dj_a11y #forum .lotusBtn a[disabled="disabled"]:focus,
.dijit_a11y #forum .lotusBtn a[disabled="disabled"]:focus,
.dj_a11y #forum .lotusBtn a.lotusBtnDisabled:focus,
.dijit_a11y #forum .lotusBtn a.lotusBtnDisabled:focus,
.dj_a11y #pageDetails .qkrTabBody div[dojoattachpoint="toggleNode"] a:disabled:focus,
.dijit_a11y #pageDetails .qkrTabBody div[dojoattachpoint="toggleNode"] a:disabled:focus,
.dj_a11y #pageDetails .qkrTabBody div[dojoattachpoint="toggleNode"] a[disabled="disabled"]:focus,
.dijit_a11y #pageDetails .qkrTabBody div[dojoattachpoint="toggleNode"] a[disabled="disabled"]:focus,
.dj_a11y #pageDetails .qkrTabBody div[dojoattachpoint="toggleNode"] a.lotusBtnDisabled:focus,
.dijit_a11y #pageDetails .qkrTabBody div[dojoattachpoint="toggleNode"] a.lotusBtnDisabled:focus,
.dj_a11y div[id^="lconn_news_microblogging_sharebox_InputForm_"][id$="_myactions"] :not(.ublogActionsList) a[role="button"]:not(.ublogPost):disabled:focus,
.dijit_a11y div[id^="lconn_news_microblogging_sharebox_InputForm_"][id$="_myactions"] :not(.ublogActionsList) a[role="button"]:not(.ublogPost):disabled:focus,
.dj_a11y div[id^="lconn_news_microblogging_sharebox_InputForm_"][id$="_myactions"] :not(.ublogActionsList) a[role="button"]:not(.ublogPost)[disabled="disabled"]:focus,
.dijit_a11y div[id^="lconn_news_microblogging_sharebox_InputForm_"][id$="_myactions"] :not(.ublogActionsList) a[role="button"]:not(.ublogPost)[disabled="disabled"]:focus,
.dj_a11y div[id^="lconn_news_microblogging_sharebox_InputForm_"][id$="_myactions"] :not(.ublogActionsList) a[role="button"]:not(.ublogPost).lotusBtnDisabled:focus,
.dijit_a11y div[id^="lconn_news_microblogging_sharebox_InputForm_"][id$="_myactions"] :not(.ublogActionsList) a[role="button"]:not(.ublogPost).lotusBtnDisabled:focus {
  box-shadow: none !important;
  outline: 1px solid #969696 !important;
  outline-offset: 1px; }

.dj_a11y #submit_button:focus, .dijit_a11y #submit_button:focus,
.dj_a11y #btn_actn__personCardSendEMail:focus,
.dijit_a11y #btn_actn__personCardSendEMail:focus,
.dj_a11y #createPlaceButton a:focus,
.dijit_a11y #createPlaceButton a:focus,
.dj_a11y .lotusRightCorner button:focus,
.dijit_a11y .lotusRightCorner button:focus,
.dj_a11y .lotusBtn[name="submitButton"]:focus,
.dijit_a11y .lotusBtn[name="submitButton"]:focus,
.dj_a11y .ics-viewer-action-upload .actionLink:focus,
.dijit_a11y .ics-viewer-action-upload .actionLink:focus,
.dj_a11y .lotusBtn.submit.lotusButtonSubmit:focus,
.dijit_a11y .lotusBtn.submit.lotusButtonSubmit:focus,
.dj_a11y .filesList .lotusDetails .lotusBtnSmall:focus,
.dijit_a11y .filesList .lotusDetails .lotusBtnSmall:focus,
.dj_a11y #mainActions .lotusBtn:focus,
.dijit_a11y #mainActions .lotusBtn:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y #submit_button:disabled:focus,
.dijit_a11y #submit_button:disabled:focus,
.dj_a11y #submit_button[disabled="disabled"]:focus,
.dijit_a11y #submit_button[disabled="disabled"]:focus,
.dj_a11y #submit_button.lotusBtnDisabled:focus,
.dijit_a11y #submit_button.lotusBtnDisabled:focus,
.dj_a11y #btn_actn__personCardSendEMail:disabled:focus,
.dijit_a11y #btn_actn__personCardSendEMail:disabled:focus,
.dj_a11y #btn_actn__personCardSendEMail[disabled="disabled"]:focus,
.dijit_a11y #btn_actn__personCardSendEMail[disabled="disabled"]:focus,
.dj_a11y #btn_actn__personCardSendEMail.lotusBtnDisabled:focus,
.dijit_a11y #btn_actn__personCardSendEMail.lotusBtnDisabled:focus,
.dj_a11y #createPlaceButton a:disabled:focus,
.dijit_a11y #createPlaceButton a:disabled:focus,
.dj_a11y #createPlaceButton a[disabled="disabled"]:focus,
.dijit_a11y #createPlaceButton a[disabled="disabled"]:focus,
.dj_a11y #createPlaceButton a.lotusBtnDisabled:focus,
.dijit_a11y #createPlaceButton a.lotusBtnDisabled:focus,
.dj_a11y .lotusRightCorner button:disabled:focus,
.dijit_a11y .lotusRightCorner button:disabled:focus,
.dj_a11y .lotusRightCorner button[disabled="disabled"]:focus,
.dijit_a11y .lotusRightCorner button[disabled="disabled"]:focus,
.dj_a11y .lotusRightCorner button.lotusBtnDisabled:focus,
.dijit_a11y .lotusRightCorner button.lotusBtnDisabled:focus,
.dj_a11y .lotusBtn[name="submitButton"]:disabled:focus,
.dijit_a11y .lotusBtn[name="submitButton"]:disabled:focus,
.dj_a11y .lotusBtn[name="submitButton"][disabled="disabled"]:focus,
.dijit_a11y .lotusBtn[name="submitButton"][disabled="disabled"]:focus,
.dj_a11y .lotusBtn[name="submitButton"].lotusBtnDisabled:focus,
.dijit_a11y .lotusBtn[name="submitButton"].lotusBtnDisabled:focus,
.dj_a11y .ics-viewer-action-upload .actionLink:disabled:focus,
.dijit_a11y .ics-viewer-action-upload .actionLink:disabled:focus,
.dj_a11y .ics-viewer-action-upload .actionLink[disabled="disabled"]:focus,
.dijit_a11y .ics-viewer-action-upload .actionLink[disabled="disabled"]:focus,
.dj_a11y .ics-viewer-action-upload .actionLink.lotusBtnDisabled:focus,
.dijit_a11y .ics-viewer-action-upload .actionLink.lotusBtnDisabled:focus,
.dj_a11y .lotusBtn.submit.lotusButtonSubmit:disabled:focus,
.dijit_a11y .lotusBtn.submit.lotusButtonSubmit:disabled:focus,
.dj_a11y .lotusBtn.submit.lotusButtonSubmit[disabled="disabled"]:focus,
.dijit_a11y .lotusBtn.submit.lotusButtonSubmit[disabled="disabled"]:focus,
.dj_a11y .lotusBtn.submit.lotusButtonSubmit.lotusBtnDisabled:focus,
.dijit_a11y .lotusBtn.submit.lotusButtonSubmit.lotusBtnDisabled:focus,
.dj_a11y .filesList .lotusDetails .lotusBtnSmall:disabled:focus,
.dijit_a11y .filesList .lotusDetails .lotusBtnSmall:disabled:focus,
.dj_a11y .filesList .lotusDetails .lotusBtnSmall[disabled="disabled"]:focus,
.dijit_a11y .filesList .lotusDetails .lotusBtnSmall[disabled="disabled"]:focus,
.dj_a11y .filesList .lotusDetails .lotusBtnSmall.lotusBtnDisabled:focus,
.dijit_a11y .filesList .lotusDetails .lotusBtnSmall.lotusBtnDisabled:focus,
.dj_a11y #mainActions .lotusBtn:disabled:focus,
.dijit_a11y #mainActions .lotusBtn:disabled:focus,
.dj_a11y #mainActions .lotusBtn[disabled="disabled"]:focus,
.dijit_a11y #mainActions .lotusBtn[disabled="disabled"]:focus,
.dj_a11y #mainActions .lotusBtn.lotusBtnDisabled:focus,
.dijit_a11y #mainActions .lotusBtn.lotusBtnDisabled:focus {
  box-shadow: none !important;
  outline: 1px solid #FFFFFF !important;
  outline-offset: 1px; }

.dj_a11y .lotusStreamUpdate .lotusActions.lotusInactive a[role="button"]:focus,
.dijit_a11y .lotusStreamUpdate .lotusActions.lotusInactive a[role="button"]:focus,
.dj_a11y .lotusStreamUpdate .lotusActions.lotusInactive a[role="button"]:hover:focus,
.dijit_a11y .lotusStreamUpdate .lotusActions.lotusInactive a[role="button"]:hover:focus {
  box-shadow: none !important;
  outline: 1px solid #FFFFFF !important;
  outline-offset: 1px; }

.dj_a11y .lotusCommunities .dfCommunityForums #dfTopicList span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities .dfCommunityForums #dfTopicList span.lotusBtn a:focus,
.dj_a11y .lotusCommunities .dfCommunityForums #dfForumList span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities .dfCommunityForums #dfForumList span.lotusBtn a:focus,
.dj_a11y .lotusCommunities #ideatoins_main span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities #ideatoins_main span.lotusBtn a:focus,
.dj_a11y .lotusCommunities #startActivity span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities #startActivity span.lotusBtn a:focus,
.dj_a11y .lotusCommunities div[id$="_FULLPAGE_listSection_controllerSection"] span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities div[id$="_FULLPAGE_listSection_controllerSection"] span.lotusBtn a:focus,
.dj_a11y .lotusCommunities #calendar_view span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities #calendar_view span.lotusBtn a:focus,
.dj_a11y .lotusCommunities #calendarViews span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities #calendarViews span.lotusBtn a:focus,
.dj_a11y .lotusCommunities #fullRecomm span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities #fullRecomm span.lotusBtn a:focus,
.dj_a11y .lotusCommunities #bookmarkContentAreaSub #headline-content span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities #bookmarkContentAreaSub #headline-content span.lotusBtn a:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y .lotusCommunities .dfCommunityForums #dfTopicList span.lotusBtn + .lotusBtn a:focus,
.dijit_a11y .lotusCommunities .dfCommunityForums #dfTopicList span.lotusBtn + .lotusBtn a:focus,
.dj_a11y .lotusCommunities .dfCommunityForums #dfForumList span.lotusBtn + .lotusBtn a:focus,
.dijit_a11y .lotusCommunities .dfCommunityForums #dfForumList span.lotusBtn + .lotusBtn a:focus,
.dj_a11y .lotusCommunities #ideatoins_main span.lotusBtn + .lotusBtn a:focus,
.dijit_a11y .lotusCommunities #ideatoins_main span.lotusBtn + .lotusBtn a:focus,
.dj_a11y .lotusCommunities #startActivity span.lotusBtn + .lotusBtn a:focus,
.dijit_a11y .lotusCommunities #startActivity span.lotusBtn + .lotusBtn a:focus,
.dj_a11y .lotusCommunities div[id$="_FULLPAGE_listSection_controllerSection"] span.lotusBtn + .lotusBtn a:focus,
.dijit_a11y .lotusCommunities div[id$="_FULLPAGE_listSection_controllerSection"] span.lotusBtn + .lotusBtn a:focus,
.dj_a11y .lotusCommunities #calendar_view span.lotusBtn + .lotusBtn a:focus,
.dijit_a11y .lotusCommunities #calendar_view span.lotusBtn + .lotusBtn a:focus,
.dj_a11y .lotusCommunities #calendarViews span.lotusBtn + .lotusBtn a:focus,
.dijit_a11y .lotusCommunities #calendarViews span.lotusBtn + .lotusBtn a:focus,
.dj_a11y .lotusCommunities #fullRecomm span.lotusBtn + .lotusBtn a:focus,
.dijit_a11y .lotusCommunities #fullRecomm span.lotusBtn + .lotusBtn a:focus,
.dj_a11y .lotusCommunities #bookmarkContentAreaSub #headline-content span.lotusBtn + .lotusBtn a:focus,
.dijit_a11y .lotusCommunities #bookmarkContentAreaSub #headline-content span.lotusBtn + .lotusBtn a:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y #memberAddForm #saveButton:focus,
.dijit_a11y #memberAddForm #saveButton:focus,
.dj_a11y #memberInviteForm .lotusFormButton[name="submit"]:focus,
.dijit_a11y #memberInviteForm .lotusFormButton[name="submit"]:focus,
.dj_a11y .dijitDialog .lotusFormButton.submit:focus,
.dijit_a11y .dijitDialog .lotusFormButton.submit:focus,
.dj_a11y div[id^="editBookmark"] input[type="submit"]:focus,
.dijit_a11y div[id^="editBookmark"] input[type="submit"]:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y .cke_dialog .cke_dialog_body .cke_dialog_contents .cke_dialog_ui_button.cke_dialog_ui_button_ok:focus,
.dijit_a11y .cke_dialog .cke_dialog_body .cke_dialog_contents .cke_dialog_ui_button.cke_dialog_ui_button_ok:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y .cke_dialog .cke_dialog_body .cke_dialog_contents .cke_dialog_ui_button.cke_dialog_ui_button_cancel:focus,
.dijit_a11y .cke_dialog .cke_dialog_body .cke_dialog_contents .cke_dialog_ui_button.cke_dialog_ui_button_cancel:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y #lconn_btn_browse_files:focus,
.dijit_a11y #lconn_btn_browse_files:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y div[id^="com_ibm_sc_widget_SlideDialog_"] .lotusBtn.lotusBtnDisabled:hover:focus,
.dijit_a11y div[id^="com_ibm_sc_widget_SlideDialog_"] .lotusBtn.lotusBtnDisabled:hover:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y div[id^="com_ibm_sc_widget_SlideDialog_"] .lotusBtn[data-dojo-attach-point="cancelBtn"]:focus,
.dijit_a11y div[id^="com_ibm_sc_widget_SlideDialog_"] .lotusBtn[data-dojo-attach-point="cancelBtn"]:focus,
.dj_a11y div[id^="com_ibm_sc_widget_SlideDialog_"] .lotusBtn[data-dojo-attach-point="previousBtn"]:focus,
.dijit_a11y div[id^="com_ibm_sc_widget_SlideDialog_"] .lotusBtn[data-dojo-attach-point="previousBtn"]:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y div[id^="com_ibm_sc_widget_SlideDialog_"] .lotusBtn[data-dojo-attach-point="cancelBtn"]:not([disabled]):hover:focus,
.dijit_a11y div[id^="com_ibm_sc_widget_SlideDialog_"] .lotusBtn[data-dojo-attach-point="cancelBtn"]:not([disabled]):hover:focus, .dj_a11y div[id^="com_ibm_sc_widget_SlideDialog_"] .lotusBtn[data-dojo-attach-point="previousBtn"]:not([disabled]):hover:focus,
.dijit_a11y div[id^="com_ibm_sc_widget_SlideDialog_"] .lotusBtn[data-dojo-attach-point="previousBtn"]:not([disabled]):hover:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y .ics-viewer-splitbutton .actionLink:focus,
.dijit_a11y .ics-viewer-splitbutton .actionLink:focus,
.dj_a11y .ics-viewer-splitbutton.ics-viewer-action-upload .actionLink:focus,
.dijit_a11y .ics-viewer-splitbutton.ics-viewer-action-upload .actionLink:focus,
.dj_a11y .ics-viewer-action-splitmenu span.dijitButtonNode:focus,
.dijit_a11y .ics-viewer-action-splitmenu span.dijitButtonNode:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y .lotusBtn:focus, .dijit_a11y .lotusBtn:focus,
.dj_a11y .lotusFormButton:focus,
.dijit_a11y .lotusFormButton:focus,
.dj_a11y .ics-dialog-action #ok:focus,
.dijit_a11y .ics-dialog-action #ok:focus,
.dj_a11y .ics-dialog-action .cancel.neutral:focus,
.dijit_a11y .ics-dialog-action .cancel.neutral:focus,
.dj_a11y .filesList .lotusDetails .lotusBtnSmallGray:focus,
.dijit_a11y .filesList .lotusDetails .lotusBtnSmallGray:focus,
.dj_a11y .qkrEdit .lotusBtnSmall:focus,
.dijit_a11y .qkrEdit .lotusBtnSmall:focus,
.dj_a11y .entryEditTable .lotusBtnSmall:focus,
.dijit_a11y .entryEditTable .lotusBtnSmall:focus,
.dj_a11y .entryEditTable .lotusBtnSmallGray:focus,
.dijit_a11y .entryEditTable .lotusBtnSmallGray:focus,
.dj_a11y .wikiHeader .lotusBtnSmall:focus,
.dijit_a11y .wikiHeader .lotusBtnSmall:focus,
.dj_a11y #blogCommentPanel [dojoattachpoint='addCommentLinkAP'].lotusAction:focus,
.dijit_a11y #blogCommentPanel [dojoattachpoint='addCommentLinkAP'].lotusAction:focus,
.dj_a11y .blog .lotusBtn a:focus,
.dijit_a11y .blog .lotusBtn a:focus,
.dj_a11y .wikiHeader .lotusBtn a:focus,
.dijit_a11y .wikiHeader .lotusBtn a:focus,
.dj_a11y #topicList .lotusBtn a:focus,
.dijit_a11y #topicList .lotusBtn a:focus,
.dj_a11y #forum .lotusBtn a:focus,
.dijit_a11y #forum .lotusBtn a:focus,
.dj_a11y #pageDetails .qkrTabBody div[dojoattachpoint="toggleNode"] a:focus,
.dijit_a11y #pageDetails .qkrTabBody div[dojoattachpoint="toggleNode"] a:focus,
.dj_a11y div[id^="lconn_news_microblogging_sharebox_InputForm_"][id$="_myactions"] :not(.ublogActionsList) a[role="button"]:not(.ublogPost):focus,
.dijit_a11y div[id^="lconn_news_microblogging_sharebox_InputForm_"][id$="_myactions"] :not(.ublogActionsList) a[role="button"]:not(.ublogPost):focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y .lotusStreamUpdate .lotusActions a[role="button"]:focus,
.dijit_a11y .lotusStreamUpdate .lotusActions a[role="button"]:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y .lotusStreamUpdate .lotusActions a[role="button"][data-dojo-attach-event="onclick: doCancel"]:focus,
.dijit_a11y .lotusStreamUpdate .lotusActions a[role="button"][data-dojo-attach-event="onclick: doCancel"]:focus,
.dj_a11y .lotusStreamUpdate .lotusActions a[role="button"][dojoattachevent="onclick:cancel"]:focus,
.dijit_a11y .lotusStreamUpdate .lotusActions a[role="button"][dojoattachevent="onclick:cancel"]:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y .lotusCommunities #memberAddButton span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities #memberAddButton span.lotusBtn a:focus,
.dj_a11y .lotusCommunities #inviteButtons span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities #inviteButtons span.lotusBtn a:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

.dj_a11y .lotusCommunities ~ .lotusDialog .lconnFileInput .lconnUploadContainer span.lotusBtn a:focus,
.dijit_a11y .lotusCommunities ~ .lotusDialog .lconnFileInput .lconnUploadContainer span.lotusBtn a:focus {
  box-shadow: none !important;
  outline: 1px solid #75263b !important;
  outline-offset: 1px; }

/*# sourceMappingURL=dojotoolkit.css.map */
