.lotusui30 .lotusDetailsOn, .lotusui30 .lotusFolderOn, .lotusui30 .lotusSummaryOn, .lotusui30 .lotusTileOn, .lotusui30 .lotusTreeOn {
	border-color: #75263b;
}

.lotusui30 .lotusPlaceBar .lotusInlinelist li {
	border-left-color: #75263b;
}

.communities-widget-appearance .lotusui30 div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container)>.lotusWidget2 h2:first-child {
	border-bottom: none;
}

.lconnFilesTree .node .highlight {
	border-left: 4px solid #75263b;
}

.lotusui30 .lotusPaging .lotusInlinelist li {
	border-left: none !important;
}

.lotusui30 .lotusDialog .lotusDialogHeader {
	background: #75263b;
}

.lotusui30 .lotusColLeft .lconnNavTreeSelector.lotusSelected {
	border-left: 4px solid #75263b;
}

.lotusui30 span.lotusBtn {
	background: transparent !important;
	border: 0 !important;
}

.lotusui30 .lotusMain span.lotusBtn a {
	border-radius: 2rem !important;
	border-width: 1px !important;
	border-style: solid !important;
	box-shadow: none !important;
	transform: translateZ(0) !important;
	-webkit-font-smoothing: antialiased !important;
	cursor: pointer !important;
	-webkit-box-align: center !important;
	-webkit-box-pack: center !important;
	text-align: center !important;
	text-decoration: none !important;
	transition: background-color 150ms ease-in, color 150ms ease-in, border-color 150ms ease-in !important;
	white-space: nowrap !important;
	padding: 9px 20px !important;
	font-weight: 500 !important;
	background-color: #74273b !important;
	color: #FFFFFF !important;
}

.lotusui30 .lotusMain span.lotusBtn a:hover {
	background-color: #ffffff !important;
	color: #74273b !important;
	border: 1px solid #74273b !important;
}

.lotusui30 .tabNavBar .lotusTabs li.lotusSelected {
	color: black;
	padding-bottom: 15px;
	border-bottom: 4px solid #FF7000;
}

.lotusui30 .lotusPlaceBar .lotusInlinelist li a, .lotusui30 .lotusPlaceBar .lotusInlinelist li a:visited {
	color: #75263b;
}

.lotusui30dojo a:hover, .lotusui30dojo a:focus, .lotusui30dojo a:active {
	text-decoration: none;
	color: #FF7000;
}

#communityActionBar a:hover {
	color: #FF7000;
}

/* community description */

.communities-widget-appearance .lotusui30_layout .lotusColLeft div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container)>.lotusWidget2 a, .communities-widget-appearance .lotusui30_layout .lotusColLeft div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container)>.lotusWidget2 a:active, .communities-widget-appearance .lotusui30_layout .lotusColLeft div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container)>.lotusWidget2 a:focus, .communities-widget-appearance .lotusui30_layout .lotusColLeft div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container)>.lotusWidget2 a:hover, .communities-widget-appearance .lotusui30_layout .lotusColLeft div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container)>.lotusWidget2 a:visited {
	color: #75263b;
}

.lotusui30 .lotusSection2 .lotusSectionHeader .lotusActionIcon:focus img, .lotusui30 .lotusWidget h2 a.lotusActionMenu, .lotusui30 .lotusWidget2 h2 a.lotusActionMenu:focus {
	outline: #75263b solid 1px;
}

.lotusui30 .dijitMenuPopup .dijitMenuTable .dijitMenuItemSelected td.dijitMenuItemIconCell {
	border-left: 4px solid #75263b!important
}

.personMenu .topActionHolder {
	background: #75263b !important;
}

.personMenu .businessCard #javlinAwarenessIcon span[dojoattachpoint="livenameContainer"] span[dojoattachpoint="displayNameWrapper"] span[dojoattachpoint="displayNameNode"] {
	display: none;
}

#javlinActionsExpanded a {
	color: #75263b;
}

.personMenu .personMenuActions a.disabledLink {
	color: gray;
}

.app_palette_modal_header { 
      background-color: #75263B;
} 
