//bordeaux #75263b

$primary: #FF7800;
$secundary: #962264;
$tertiary: #6FC2B6;

// Theme colors of Sanquin
$background: #f1f1f1;
$white: #FFFFFF;
$black: #000000;
$orange: #FF7800;
$bordeaux: $secundary;
$pink: #db8193;